:where(html) {
  color-scheme: light dark;

  --base-color-green-0: light-dark(#dafbe1, #aff5b4);
  --base-color-green-1: light-dark(#aceebb, #7ee787);
  --base-color-green-2: light-dark(#6fdd8b, #56d364);
  --base-color-green-3: light-dark(#4ac26b, #3fb950);
  --base-color-green-4: light-dark(#2da44e, #2ea043);
  --base-color-green-5: light-dark(#1a7f37, #238636);
  --base-color-green-6: light-dark(#116329, #196c2e);
  --base-color-green-7: light-dark(#044f1e, #0f5323);
  --base-color-green-8: light-dark(#003d16, #033a16);
  --base-color-green-9: light-dark(#002d11, #04260f);
}
