:where(html) {
  color-scheme: light dark;

  --base-color-pink-0: light-dark(#ffeff7, #ffdaec);
  --base-color-pink-1: light-dark(#ffd3eb, #ffbedd);
  --base-color-pink-2: light-dark(#ffadda, #ff9bce);
  --base-color-pink-3: light-dark(#ff80c8, #f778ba);
  --base-color-pink-4: light-dark(#e85aad, #db61a2);
  --base-color-pink-5: light-dark(#bf3989, #bf4b8a);
  --base-color-pink-6: light-dark(#99286e, #9e3670);
  --base-color-pink-7: light-dark(#772057, #7d2457);
  --base-color-pink-8: light-dark(#611347, #5e103e);
  --base-color-pink-9: light-dark(#4d0336, #42062a);
}
