:where(html) {
  color-scheme: light dark;

  --base-display-color-cyan-0: light-dark(
    oklch(93.3% 0.058 211.2),
    oklch(22.2% 0.041 223)
  );
  --base-display-color-cyan-1: light-dark(
    oklch(87.6% 0.106 212.2),
    oklch(28% 0.054 225.9)
  );
  --base-display-color-cyan-2: light-dark(
    oklch(79.3% 0.144 219.4),
    oklch(35% 0.068 227.6)
  );
  --base-display-color-cyan-3: light-dark(
    oklch(72% 0.13 218.7),
    oklch(41.4% 0.082 229.8)
  );
  --base-display-color-cyan-4: light-dark(
    oklch(63.1% 0.114 219),
    oklch(49.1% 0.096 229.3)
  );
  --base-display-color-cyan-5: light-dark(
    oklch(53.8% 0.097 218.6),
    oklch(58.4% 0.116 230.4)
  );
  --base-display-color-cyan-6: light-dark(
    oklch(48.4% 0.087 218.7),
    oklch(69.8% 0.14 230.9)
  );
  --base-display-color-cyan-7: light-dark(
    oklch(42.8% 0.077 217.7),
    oklch(73% 0.145 230.3)
  );
  --base-display-color-cyan-8: light-dark(
    oklch(37.1% 0.066 217.7),
    oklch(78.8% 0.129 224.3)
  );
  --base-display-color-cyan-9: light-dark(
    oklch(31% 0.055 215.9),
    oklch(84.5% 0.097 221.4)
  );
}
