:where(html) {
  color-scheme: light dark;

  --base-color-red-0: light-dark(#ffebe9, #ffdcd7);
  --base-color-red-1: light-dark(#ffcecb, #ffc1ba);
  --base-color-red-2: light-dark(#ffaba8, #ffa198);
  --base-color-red-3: light-dark(#ff8182, #ff7b72);
  --base-color-red-4: light-dark(#fa4549, #f85149);
  --base-color-red-5: light-dark(#cf222e, #da3633);
  --base-color-red-6: light-dark(#a40e26, #b62324);
  --base-color-red-7: light-dark(#82071e, #8e1519);
  --base-color-red-8: light-dark(#660018, #67060c);
  --base-color-red-9: light-dark(#4c0014, #490202);
}
