:where(html) {
  color-scheme: light dark;

  --base-color-purple-0: light-dark(#fbefff, #eddeff);
  --base-color-purple-1: light-dark(#ecd8ff, #e2c5ff);
  --base-color-purple-2: light-dark(#d8b9ff, #d2a8ff);
  --base-color-purple-3: light-dark(#c297ff, #be8fff);
  --base-color-purple-4: light-dark(#a475f9, #ab7df8);
  --base-color-purple-5: light-dark(#8250df, #8957e5);
  --base-color-purple-6: light-dark(#6639ba, #6e40c9);
  --base-color-purple-7: light-dark(#512a97, #553098);
  --base-color-purple-8: light-dark(#3e1f79, #3c1e70);
  --base-color-purple-9: light-dark(#2e1461, #271052);
}
