:where(html) {
  color-scheme: light dark;

  --base-color-coral-0: light-dark(#fff0eb, #ffddd2);
  --base-color-coral-1: light-dark(#ffd6cc, #ffc2b2);
  --base-color-coral-2: light-dark(#ffb4a1, #ffa28b);
  --base-color-coral-3: light-dark(#fd8c73, #f78166);
  --base-color-coral-4: light-dark(#ec6547, #ea6045);
  --base-color-coral-5: light-dark(#c4432b, #cf462d);
  --base-color-coral-6: light-dark(#9e2f1c, #ac3220);
  --base-color-coral-7: light-dark(#801f0f, #872012);
  --base-color-coral-8: light-dark(#691105, #640d04);
  --base-color-coral-9: light-dark(#510901, #460701);
}
