:where(html) {
  color-scheme: light dark;

  --base-color-orange-0: light-dark(#fff1e5, #ffdfb6);
  --base-color-orange-1: light-dark(#ffd8b5, #ffc680);
  --base-color-orange-2: light-dark(#ffb77c, #ffa657);
  --base-color-orange-3: light-dark(#fb8f44, #f0883e);
  --base-color-orange-4: light-dark(#e16f24, #db6d28);
  --base-color-orange-5: light-dark(#bc4c00, #bd561d);
  --base-color-orange-6: light-dark(#953800, #9b4215);
  --base-color-orange-7: light-dark(#762c00, #762d0a);
  --base-color-orange-8: light-dark(#5c2200, #5a1e02);
  --base-color-orange-9: light-dark(#471700, #3d1300);
}
