:where(html) {
  color-scheme: light dark;

  --base-color-blue-0: light-dark(#ddf4ff, #cae8ff);
  --base-color-blue-1: light-dark(#b6e3ff, #a5d6ff);
  --base-color-blue-2: light-dark(#80ccff, #79c0ff);
  --base-color-blue-3: light-dark(#54aeff, #58a6ff);
  --base-color-blue-4: light-dark(#218bff, #388bfd);
  --base-color-blue-5: light-dark(#0969da, #1f6feb);
  --base-color-blue-6: light-dark(#0550ae, #1158c7);
  --base-color-blue-7: light-dark(#033d8b, #0d419d);
  --base-color-blue-8: light-dark(#0a3069, #0c2d6b);
  --base-color-blue-9: light-dark(#002155, #051d4d);
}
