:where(html) {
  color-scheme: light dark;

  /* Common colors */
  --base-color-black: light-dark(#1f2328, #010409);
  --base-color-white: #fff;
  --base-color-transparent: light-dark(#ffffff00, #00000000);

  /* Neutral colors */
  --base-color-neutral-0: light-dark(
    var(--base-color-white),
    #010409
  );
  --base-color-neutral-1: light-dark(#f6f8fa, #0d1117);
  --base-color-neutral-2: light-dark(#eff2f5, #151b23);
  --base-color-neutral-3: light-dark(#e6eaef, #212830);
  --base-color-neutral-4: light-dark(#e0e6eb, #262c36);
  --base-color-neutral-5: light-dark(#dae0e7, #2a313c);
  --base-color-neutral-6: light-dark(#d1d9e0, #2f3742);
  --base-color-neutral-7: light-dark(#c8d1da, #3d444d);
  --base-color-neutral-8: light-dark(#818b98, #656c76);
  --base-color-neutral-9: light-dark(#59636e, #9198a1);
  --base-color-neutral-10: light-dark(#454c54, #b7bdc8);
  --base-color-neutral-11: light-dark(#393f46, #d1d7e0);
  --base-color-neutral-12: light-dark(#25292e, #f0f6fc);
  --base-color-neutral-13: light-dark(#1f2328, #ffffff);
}
