:where(html) {
  color-scheme: light dark;

  --base-display-color-yellow-0: light-dark(#fff8c5, #f8e3a1);
  --base-display-color-yellow-1: light-dark(#fae17d, #f2cc60);
  --base-display-color-yellow-2: light-dark(#eac54f, #e3b341);
  --base-display-color-yellow-3: light-dark(#d4a72c, #d29922);
  --base-display-color-yellow-4: light-dark(#bf8700, #bb8009);
  --base-display-color-yellow-5: light-dark(#9a6700, #9e6a03);
  --base-display-color-yellow-6: light-dark(#7d4e00, #845306);
  --base-display-color-yellow-7: light-dark(#633c01, #693e00);
  --base-display-color-yellow-8: light-dark(#4d2d00, #4b2900);
  --base-display-color-yellow-9: light-dark(#3b2300, #341a00);
}
