@use '../abstracts' as *;

.even-columns {
  display: grid;
  gap: var(--grid-gap);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;

  @media (--md-n-below) {
    grid-auto-flow: row;
    grid-auto-columns: auto;
  }
}
