.flex-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--_flex-column-gap, --flex-group-gap);
  row-gap: var(--_flex-row-gap, calc(var(--flex-group-gap) / 2));
  width: fit-content;

  &.mx-auto {
    justify-content: center;
  }
}
