.container {
  /* Container */
  --_container-min-margin-inline: var(--size-4);
  --_container-max-width: 112rem; /* 1120px */
  --_container-max-width-narrow: 64rem; /* 640px */
  --_container-max-width-wide: 160rem; /* 1600px */

  --_container-padding: calc(var(--_container-min-margin-inline) * 2);

  margin-inline: auto;
  width: min(100% - var(--_container-padding), var(--_container-max-width));
}

.container[data-type='narrow'] {
  --_container-max-width: var(--_container-max-width-narrow);
}

.container[data-type='wide'] {
  --_container-max-width: var(--_container-max-width-wide);
}

.container[data-type='full-bleed'] {
  --_container-padding: 0;
  --_container-max-width: 100%;
}
