.flex-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--flex-gap);
  row-gap: calc(var(--flex-gap) / 2);
  width: fit-content;

  > * {
    min-width: fit-content;
    flex: 1;
  }

  &.mx-auto {
    justify-content: center;
  }
}
