.flex-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--_flex-column-gap, var(--gutter));
  row-gap: var(--_flex-row-gap, calc(var(--gutter) / 2));
  width: fit-content;

  &.mx-auto {
    justify-content: center;
  }
}
