.grid-auto-fit {
  display: grid;
  grid-gap: var(--gutter);
  /* min() with 100% prevents overflow in extra narrow spaces */
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, var(--grid-min-column)), 1fr)
  );
}
