.grid-auto-fit {
  display: grid;
  grid-gap: var(--grid-gap);
  /* min() with 100% prevents overflow in extra narrow spaces */
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--grid-min-column-size), 100%), 1fr)
    );
}
