/* Stacks items on top of each other. */
.negative-grid {
  --el-size: var(--size-15);

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    clamp(var(--el-size) * 0.75, 33%, var(--el-size))
  );
  transform: scale(83.333%);
  transform-origin: left;

  & > * {
    transform: scale(120%);
    transform-origin: left;
  }
}
