.offset-grid {
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(3, 1fr);

  & > :nth-child(2),
  & > :nth-child(3) {
    grid-column: span 2;
  }

  p {
    max-width: 32ch;
  }
}
