/* Items repel from each other like polar-opposites, where space allows */
.repel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: var(--repel-alignment, center);
  gap: var(--flex-gap);

  &[data-repel-variant='vertical'] {
    --repel-alignment: stretch;
    flex-direction: column;
  }
}

/* --repel-alignment: stretch, center, baseline; */
