.card {
  --_card-bg: var(--surface-1, var(--bgColor-default));
  --_card-text: var(--text-1, var(--fgColor-default));
  --_card-padding: var(--size-6);

  border-radius: var(--radius-3);
  background-color: var(--_card-bg);
  color: var(--_card-text);
  box-shadow: var(--shadow-3);
  overflow: hidden;
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-4);
  padding: var(--size-5) var(--size-4);
}
