.site-header {
  --_header-margin: 0;
  --_header-padding: 0;
  --_site-header-link-padding: var(--space-s);
  --_header-bg: var(--bgColor-inset, var(--surface-2));

  margin: var(--_header-margin);
  padding: var(--_header-padding);
  background-color: var(--_header-bg);
  color: var(--fgColor-default, var(--text-1));

  display: flex;
  align-items: center;
  justify-content: space-between;
}


