.logo {
  --_logo-color-header: var(--fgColor-brand, var(--accent));
  --_logo-color-footer: var(--fgColor-brand, var(--accent));

  padding-inline: var(--size-5);

  > svg {
    &[data-type='header'] {
      fill: var(--_logo-color-header);
    }

    &[data-type='footer'] {
      fill: var(--_logo-color-footer);
    }
  }
}
