.site-nav {
  /* Typography */
  --_nav-font-family: var(--ff-base);
  --_nav-link-font-weight: var(--fw-medium);
  --_nav-link-font-size: var(--fs-sm);
  --_nav-link-color: var(--fgColor-default, var(--text-1));
  --_nav-link-color-hover: var(--fgColor-accent, var(--link-hover));
  --_nav-link-bg-hover: var(--bgColor-default, var(--surface-1));

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family:var(--_nav-font-family), sans-serif;
  color: var(--_nav-text-color);

  @media (--md-n-below) {
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    transition: opacity 0.3s var(--animation-fade-out);
    overflow: hidden;

    &:has(a:hover) a:is(:not(:hover, :focus-visible)) {
      opacity: 0.7;
    }

    @media (--md-n-below) {
      position: fixed;
      z-index: var(--layer-important);
      top: 0;
      right: -100%;
      display: flex;
      flex-direction: column;
      width: min(25rem, 100%);
      background-color: var(--bgColor-muted, var(--surface-2));
      box-shadow: var(--shadow-3);

      transition: right 0.4s ease-out;

      &.show {
        right: 0;
      }

      /* Move close button to the right*/
      li:first-child {
        align-self: flex-end;
      }
    }

    a {
      display: flex;
      padding: var(--_site-header-link-padding);
      width: 100%;
      border-radius: 0;
      font-weight: var(--_nav-link-font-weight);
      font-size: var(--_nav-link-font-size);
      color: var(--_nav-link-color);
      transition: background-color 0.3s var(--ease-5);
      cursor: pointer;

      &:hover, &:focus-visible {
        color: var(--_nav-link-color-hover);
        background-color: var(--_nav-link-bg-hover);
      }

      @media (--lg-n-below) {
        --_nav-font-size: var(--fs-sm);
      }
    }
  }
}

#nav-menu-open, #nav-menu-close {
  display: none;
  padding: var(--_site-header-link-padding);
  border-radius: 0;
  font-size: var(--_nav-link-font-size);

  & .sr-only {
    display: none;
  }

  &:hover {
    color: var(--_nav-link-color-hover);
    background-color: var(--_nav-link-bg-hover);
  }

  @media (--md-n-below) {
    display: block;
  }
}

#overlay {
  z-index: var(--layer-5);
  position: fixed;

  display: none;
  background-color: var(--overlay-backdrop-bgColor);
  inset: 0;
  backdrop-filter: blur(6px);
}

.site-nav__list.show ~ #overlay {
  display: block;
}



