.tabs {
  --_tabs-header-bg: var(--bg-secondary, --surface-4);
  --_tabs-header-color: var(--text-body, --text-1);
  --_tabs-content-bg: var(--bg-subtle, --surface-2);
  --_tabs-content-text: var(--text-secondary, --text-2);

  margin-top: var(--size-8);

  &__header {
    display: flex;
    background: var(--_tabs-header-bg);
    color: var(--_tabs-header-color);
    padding: var(--size-3) var(--size-5);

    li {
      margin-right: var(--size-5);
      cursor: pointer;
    }
  }

  &__content {
    font-size: var(--fs-5);
    padding: var(--size-5);
    font-weight: bold;
    background: var(--_tabs-content-bg);
  }
}
