:where(html) {
  --blue-0: hsl(205 100% 95.3%);
  --blue-1: hsl(206 100% 90.8%);
  --blue-2: hsl(256 100% 87.5%);
  --blue-3: hsl(206 95.8% 72.2%);
  --blue-4: hsl(207 91.4% 63.5%);
  --blue-5: hsl(207 86.3% 57.1%);
  --blue-6: hsl(208 79.7% 51.8%);
  --blue-7: hsl(208 76.9% 47.5%);
  --blue-8: hsl(209 77.2% 42.9%);
  --blue-9: hsl(209 75.4% 38.2%);
  --blue-10: hsl(209 75.8% 32.4%);
  --blue-11: hsl(209 75.2% 26.9%);
  --blue-12: hsl(209 75.7% 21%);
}
