:where(html) {
  --blue-0: oklch(96% 0.021 238.7);
  --blue-1: oklch(92.8% 0.039 240.9);
  --blue-2: oklch(85.7% 0.077 241.7);
  --blue-3: oklch(78.3% 0.115 243);
  --blue-4: oklch(72% 0.14 246.2);
  --blue-5: oklch(67% 0.156 247.9);
  --blue-6: oklch(62.7% 0.165 250.4);
  --blue-7: oklch(58.4% 0.157 250.8);
  --blue-8: oklch(54.1% 0.149 252);
  --blue-9: oklch(49.5% 0.132 251.6);
  --blue-10: oklch(43.9% 0.116 251.5);
  --blue-11: oklch(39% 0.1 251.1);
  --blue-12: oklch(33.1% 0.083 250.8);
}
