:where(html) {
  --brown-0: hsl(36 60% 95.1%);
  --brown-1: hsl(32 43.8% 87.5%);
  --brown-2: hsl(28 39.8% 79.8%);
  --brown-3: hsl(28 37.6% 72.4%);
  --brown-4: hsl(27 35.6% 64.7%);
  --brown-5: hsl(28 33.9% 57.3%);
  --brown-6: hsl(28 32.3% 49.8%);
  --brown-7: hsl(28 35.5% 43.1%);
  --brown-8: hsl(28 38.3% 36.9%);
  --brown-9: hsl(27 42.3% 30.6%);
  --brown-10: hsl(25 48% 24.9%);
  --brown-11: hsl(23 57.6% 19.4%);
  --brown-12: hsl(22 57.1% 16.5%);
}
