:where(html) {
  --camo-0: hsl(66 71.4% 94.5%);
  --camo-1: hsl(64 69.2% 77.1%);
  --camo-2: hsl(65 69.4% 59%);
  --camo-3: hsl(65 61.1% 50.6%);
  --camo-4: hsl(63 60.5% 45.7%);
  --camo-5: hsl(60 62.3% 40.6%);
  --camo-6: hsl(59 64.5% 36.5%);
  --camo-7: hsl(56 66.7% 32.9%);
  --camo-8: hsl(54 70.3% 29%);
  --camo-9: hsl(54 69% 25.3%);
  --camo-10: hsl(53 69.1% 21.6%);
  --camo-11: hsl(53 69.2% 17.8%);
  --camo-12: hsl(52 68.8% 12.5%);
}
