:where(html) {
  --camo-0: oklch(98.3% 0.024 111.5);
  --camo-1: oklch(92.3% 0.103 111.5);
  --camo-2: oklch(86.7% 0.164 113.9);
  --camo-3: oklch(81.6% 0.167 114.3);
  --camo-4: oklch(76.8% 0.157 112.5);
  --camo-5: oklch(71.4% 0.143 109.5);
  --camo-6: oklch(65.3% 0.131 108.5);
  --camo-7: oklch(60.5% 0.119 105.1);
  --camo-8: oklch(55% 0.108 102.6);
  --camo-9: oklch(49.3% 0.095 102.7);
  --camo-10: oklch(44.8% 0.085 101.4);
  --camo-11: oklch(39.1% 0.073 101.5);
  --camo-12: oklch(31.4% 0.057 100.4);
}
