:where(html) {
  --choco-0: hsl(48 100% 93.1%);
  --choco-1: hsl(35 91.4% 86.3%);
  --choco-2: hsl(30 84.8% 79.4%);
  --choco-3: hsl(27 80.1% 72.4%);
  --choco-4: hsl(25 75.4% 64.9%);
  --choco-5: hsl(25 70.6% 57.3%);
  --choco-6: hsl(25 70.3% 48.8%);
  --choco-7: hsl(25 75% 42.4%);
  --choco-8: hsl(25 75.4% 36.7%);
  --choco-9: hsl(25 75.8% 30.8%);
  --choco-10: hsl(25 71% 25.7%);
  --choco-11: hsl(25 65.7% 20.6%);
  --choco-12: hsl(25 64.9% 14.5%);
}
