:where(html) {
  --cyan-0: hsl(185 80.6% 93.9%);
  --cyan-1: hsl(185 84.1% 87.6%);
  --cyan-2: hsl(186 77.4% 77.5%);
  --cyan-3: hsl(187 73.9% 65.5%);
  --cyan-4: hsl(187 69% 54.5%);
  --cyan-5: hsl(188 71.8% 47.3%);
  --cyan-6: hsl(187 80.2% 41.6%);
  --cyan-7: hsl(188 83.1% 37.1%);
  --cyan-8: hsl(189 85.5% 32.4%);
  --cyan-9: hsl(189 84.7% 28.2%);
  --cyan-10: hsl(189 84.5% 22.7%);
  --cyan-11: hsl(190 84.3% 17.5%);
  --cyan-12: hsl(189 83.6% 12%);
}
