:where(html) {
  --gray-0: oklch(98.4% 0.001 247.8);
  --gray-1: oklch(96.1% 0.004 247.9);
  --gray-2: oklch(94.5% 0.005 247.9);
  --gray-3: oklch(91.4% 0.007 247.9);
  --gray-4: oklch(86.6% 0.011 248);
  --gray-5: oklch(76.9% 0.015 248);
  --gray-6: oklch(64.5% 0.015 248.1);
  --gray-7: oklch(42.4% 0.015 248.2);
  --gray-8: oklch(34.8% 0.013 248.2);
  --gray-9: oklch(26.7% 0.01 248.2);
  --gray-10: oklch(21.2% 0.009 255.1);
  --gray-11: oklch(16.7% 0.007 258.4);
  --gray-12: oklch(11.3% 0.009 242.2);
}
