:where(html) {
  --green-0: oklch(97.1% 0.026 151);
  --green-1: oklch(94.5% 0.06 148.9);
  --green-2: oklch(90.2% 0.101 148.2);
  --green-3: oklch(85.6% 0.142 147.8);
  --green-4: oklch(80.4% 0.166 147.4);
  --green-5: oklch(75.9% 0.185 146.5);
  --green-6: oklch(71.3% 0.183 146.5);
  --green-7: oklch(67.8% 0.178 146.3);
  --green-8: oklch(61.5% 0.162 146.3);
  --green-9: oklch(55.4% 0.14 146.9);
  --green-10: oklch(48.4% 0.121 147.1);
  --green-11: oklch(40.2% 0.098 147.2);
  --green-12: oklch(32.5% 0.077 147.1);
}
