:where(html) {
  --indigo-0: hsl(223 100% 96.5%);
  --indigo-1: hsl(225 100% 92.9%);
  --indigo-2: hsl(228 100% 86.5%);
  --indigo-3: hsl(228 100% 78.4%);
  --indigo-4: hsl(228 95.8% 72.2%);
  --indigo-5: hsl(228 94% 67.1%);
  --indigo-6: hsl(228 89.4% 62.9%);
  --indigo-7: hsl(228 80.9% 59%);
  --indigo-8: hsl(228 69% 54.5%);
  --indigo-9: hsl(230 57.3% 49.6%);
  --indigo-10: hsl(230 57.3% 43.1%);
  --indigo-11: hsl(230 57.4% 36.9%);
  --indigo-12: hsl(230 57.4% 30.4%);
}
