:where(html) {
  --lime-0: oklch(97.9% 0.033 121.3);
  --lime-1: oklch(95.9% 0.068 122.7);
  --lime-2: oklch(93.1% 0.11 124.2);
  --lime-3: oklch(88.5% 0.154 126);
  --lime-4: oklch(84.6% 0.189 128.1);
  --lime-5: oklch(80.7% 0.203 129.9);
  --lime-6: oklch(75.6% 0.199 131.1);
  --lime-7: oklch(70.6% 0.189 131.4);
  --lime-8: oklch(66.4% 0.181 132.3);
  --lime-9: oklch(61% 0.164 131.6);
  --lime-10: oklch(52.4% 0.139 131.4);
  --lime-11: oklch(45.1% 0.118 131.1);
  --lime-12: oklch(36.1% 0.093 130.7);
}
