:where(html) {
  --purple-0: hsl(280 66.7% 96.5%);
  --purple-1: hsl(287 76.7% 91.6%);
  --purple-2: hsl(288 85.7% 86.3%);
  --purple-3: hsl(289 85.5% 78.4%);
  --purple-4: hsl(288 82.6% 70.8%);
  --purple-5: hsl(288 75.1% 63.7%);
  --purple-6: hsl(288 66.7% 57.6%);
  --purple-7: hsl(288 56.3% 51.6%);
  --purple-8: hsl(288 54% 46.1%);
  --purple-9: hsl(288 54.5% 39.6%);
  --purple-10: hsl(288 54.8% 32.9%);
  --purple-11: hsl(288 55.6% 26.5%);
  --purple-12: hsl(288 54.9% 20%);
}
