:where(html) {
  --red-0: oklch(97.7% 0.011 17.3);
  --red-1: oklch(94.4% 0.028 17.7);
  --red-2: oklch(87.9% 0.064 18.4);
  --red-3: oklch(81.7% 0.103 19.5);
  --red-4: oklch(75.2% 0.149 21.2);
  --red-5: oklch(71.2% 0.181 22.8);
  --red-6: oklch(67% 0.204 24.5);
  --red-7: oklch(63.2% 0.216 26);
  --red-8: oklch(59.5% 0.21 26.4);
  --red-9: oklch(54.8% 0.195 26.6);
  --red-10: oklch(49.7% 0.176 26.4);
  --red-11: oklch(44.5% 0.155 26.3);
  --red-12: oklch(39.3% 0.136 26.2);
}
