:where(html) {
  --sand-0: oklch(98.5% 0.002 228.8);
  --sand-1: oklch(91.7% 0.011 95.2);
  --sand-2: oklch(85.5% 0.025 91.6);
  --sand-3: oklch(78.4% 0.037 90.4);
  --sand-4: oklch(72.5% 0.035 90.4);
  --sand-5: oklch(65.9% 0.036 90.4);
  --sand-6: oklch(58.8% 0.036 87.6);
  --sand-7: oklch(52.7% 0.036 89);
  --sand-8: oklch(45.6% 0.028 86.1);
  --sand-9: oklch(39.6% 0.023 89);
  --sand-10: oklch(33.2% 0.015 90.4);
  --sand-11: oklch(26.6% 0.008 106.9);
  --sand-12: oklch(18.6% 0.004 106.8);
}
