:where(html) {
  --sand-0: hsl(200 27.3% 97.8%);
  --sand-1: hsl(48 16.7% 88.2%);
  --sand-2: hsl(45 22.2% 78.8%);
  --sand-3: hsl(44 21.8% 69.4%);
  --sand-4: hsl(44 17.3% 61.6%);
  --sand-5: hsl(44 14.4% 53.7%);
  --sand-6: hsl(42 14% 46.1%);
  --sand-7: hsl(43 16.2% 38.8%);
  --sand-8: hsl(41 15.2% 32.4%);
  --sand-9: hsl(43 13.6% 25.9%);
  --sand-10: hsl(44 10.9% 19.8%);
  --sand-11: hsl(60 5.7% 13.7%);
  --sand-12: hsl(60 5.9% 6.7%);
}
