:where(html) {
  --stone-0: hsl(200 27.3% 97.8%);
  --stone-1: hsl(210 18.2% 95.7%);
  --stone-2: hsl(210 11.1% 92.9%);
  --stone-3: hsl(192 8.8% 88.8%);
  --stone-4: hsl(197 8.2% 83.3%);
  --stone-5: hsl(202 5.4% 71%);
  --stone-6: hsl(200 3% 60.4%);
  --stone-7: hsl(180 1.6% 50.2%);
  --stone-8: hsl(160 1.4% 40.6%);
  --stone-9: hsl(90 1.2% 31.4%);
  --stone-10: hsl(60 2.7% 22.2%);
  --stone-11: hsl(60 5.7% 13.7%);
  --stone-12: hsl(60 5.9% 6.7%);
}
