:where(html) {
  --teal-0: oklch(97.6% 0.023 174.9);
  --teal-1: oklch(94.2% 0.062 172.5);
  --teal-2: oklch(89.6% 0.096 172.9);
  --teal-3: oklch(84.2% 0.128 170.6);
  --teal-4: oklch(79.4% 0.147 167.9);
  --teal-5: oklch(74.9% 0.15 166);
  --teal-6: oklch(69.9% 0.144 165);
  --teal-7: oklch(64.6% 0.135 164.5);
  --teal-8: oklch(57.9% 0.12 164.7);
  --teal-9: oklch(52.2% 0.108 164.9);
  --teal-10: oklch(45.1% 0.092 165.2);
  --teal-11: oklch(37.3% 0.075 166);
  --teal-12: oklch(29.3% 0.057 168.4);
}
