:where(html) {
  --teal-0: hsl(161 78.6% 94.5%);
  --teal-1: hsl(160 84.6% 87.3%);
  --teal-2: hsl(162 78% 76.9%);
  --teal-3: hsl(162 72.4% 64.5%);
  --teal-4: hsl(162 67.9% 53.5%);
  --teal-5: hsl(162 72.5% 45.7%);
  --teal-6: hsl(162 82.2% 39.6%);
  --teal-7: hsl(162 86.5% 34.9%);
  --teal-8: hsl(162 88.4% 30.4%);
  --teal-9: hsl(162 88.1% 26.5%);
  --teal-10: hsl(162 88.9% 21.2%);
  --teal-11: hsl(162 87.8% 16.1%);
  --teal-12: hsl(163 88.9% 10.6%);
}
