:where(html) {
  --violet-0: oklch(96.1% 0.021 295.2);
  --violet-1: oklch(91.1% 0.049 298.4);
  --violet-2: oklch(83.5% 0.093 296.6);
  --violet-3: oklch(73.9% 0.144 294.1);
  --violet-4: oklch(65.7% 0.19 291.8);
  --violet-5: oklch(60.4% 0.218 289.8);
  --violet-6: oklch(56.8% 0.229 288.3);
  --violet-7: oklch(54.6% 0.226 288);
  --violet-8: oklch(50.9% 0.22 287.3);
  --violet-9: oklch(47.8% 0.198 287.9);
  --violet-10: oklch(43.7% 0.179 288.1);
  --violet-11: oklch(38.8% 0.156 288.4);
  --violet-12: oklch(34.5% 0.135 288.8);
}
