:where(html) {
  --violet-0: hsl(252 100% 97.1%);
  --violet-1: hsl(257 100% 92.9%);
  --violet-2: hsl(256 100% 87.5%);
  --violet-3: hsl(255 94.4% 79%);
  --violet-4: hsl(255 93% 72%);
  --violet-5: hsl(255 90.5% 66.9%);
  --violet-6: hsl(255 86.2% 63.1%);
  --violet-7: hsl(255 77.7% 59.6%);
  --violet-8: hsl(255 66.7% 55.3%);
  --violet-9: hsl(255 53.4% 50.4%);
  --violet-10: hsl(255 52.7% 43.9%);
  --violet-11: hsl(255 52.6% 37.3%);
  --violet-12: hsl(255 52.9% 30.8%);
}
