:where(html) {
  color-scheme: light dark;

  --base-display-color-auburn-0: light-dark(
    oklch(94.1% 0.01 17.3),
    oklch(22.8% 0.024 23.4)
  );
  --base-display-color-auburn-1: light-dark(
    oklch(88.9% 0.018 21.8),
    oklch(28.7% 0.034 25.1)
  );
  --base-display-color-auburn-2: light-dark(
    oklch(80.4% 0.034 22.6),
    oklch(36.1% 0.048 23.5)
  );
  --base-display-color-auburn-3: light-dark(
    oklch(73.4% 0.047 23.4),
    oklch(43.1% 0.059 24.2)
  );
  --base-display-color-auburn-4: light-dark(
    oklch(65.5% 0.063 24.1),
    oklch(50% 0.07 24.7)
  );
  --base-display-color-auburn-5: light-dark(
    oklch(55.7% 0.079 25.1),
    oklch(60% 0.073 23.9)
  );
  --base-display-color-auburn-6: light-dark(
    oklch(50.8% 0.071 24.6),
    oklch(70.8% 0.051 23.2)
  );
  --base-display-color-auburn-7: light-dark(
    oklch(44.9% 0.062 24),
    oklch(74.2% 0.044 21.8)
  );
  --base-display-color-auburn-8: light-dark(
    oklch(38.7% 0.052 23.2),
    oklch(80.4% 0.034 22.6)
  );
  --base-display-color-auburn-9: light-dark(
    oklch(31.3% 0.039 22),
    oklch(85.6% 0.024 24.2)
  );
}
