:where(html) {
  color-scheme: light;

  --base-display-color-purple-0: hsl(268 100% 95%); /* #F1E5FF */
  --base-display-color-purple-1: hsl(267 96% 91%); /* #E6D2FE */
  --base-display-color-purple-2: hsl(266 93% 84%); /* #D1B1FC */
  --base-display-color-purple-3: hsl(265 88% 77%); /* #BC91F8 */
  --base-display-color-purple-4: hsl(264 84% 70%); /* #A672F3 */
  --base-display-color-purple-5: hsl(263 80% 61%); /* #894CEB */
  --base-display-color-purple-6: hsl(262 76% 56%); /* #783AE4 */
  --base-display-color-purple-7: hsl(261 72% 49%); /* #6223D7 */
  --base-display-color-purple-8: hsl(260 68% 40%); /* #4F21AB */
  --base-display-color-purple-9: hsl(259 64% 29%); /* #391B79 */

  @media(--OSdark) {
    color-scheme: dark;

    --base-display-color-purple-0: hsl(259 63% 17%); /* #211047 */
    --base-display-color-purple-1: hsl(260 69% 25%); /* #31146B */
    --base-display-color-purple-2: hsl(261 72% 36%); /* #481A9E */
    --base-display-color-purple-3: hsl(262 76% 45%); /* #5B1CCA */
    --base-display-color-purple-4: hsl(263 80% 55%); /* #7730E8 */
    --base-display-color-purple-5: hsl(264 84% 65%); /* #975BF1 */
    --base-display-color-purple-6: hsl(265 88% 75%); /* #B687F7 */
    --base-display-color-purple-7: hsl(266 93% 79%); /* #C398FB */
    --base-display-color-purple-8: hsl(267 95% 84%); /* #D2AFFD */
    --base-display-color-purple-9: hsl(268 100% 89%); /* #E1C7FF */
  }
}