:where(html) {
  color-scheme: light dark;

  --base-display-color-gray-0: light-dark(#e8ecf2, #1c1c1c);
  --base-display-color-gray-1: light-dark(#d2dae4, #2a2b2d);
  --base-display-color-gray-2: light-dark(#b4c0cf, #393d41);
  --base-display-color-gray-3: light-dark(#9ba9bb, #474e57);
  --base-display-color-gray-4: light-dark(#808fa3, #576270);
  --base-display-color-gray-5: light-dark(#647182, #6e7f96);
  --base-display-color-gray-6: light-dark(#5c6570, #92a1b5);
  --base-display-color-gray-7: light-dark(#4e535a, #9babbf);
  --base-display-color-gray-8: light-dark(#424448, #b3c0d1);
  --base-display-color-gray-9: light-dark(#303031, #c4cfde);
}
