:where(html) {
  color-scheme: light dark;

  --base-display-color-purple-0: light-dark(#f1e5ff, #211047);
  --base-display-color-purple-1: light-dark(#e6d2fe, #31146b);
  --base-display-color-purple-2: light-dark(#d1b1fc, #481a9e);
  --base-display-color-purple-3: light-dark(#bc91f8, #5b1cca);
  --base-display-color-purple-4: light-dark(#a672f3, #7730e8);
  --base-display-color-purple-5: light-dark(#894ceb, #975bf1);
  --base-display-color-purple-6: light-dark(#783ae4, #b687f7);
  --base-display-color-purple-7: light-dark(#6223d7, #c398fb);
  --base-display-color-purple-8: light-dark(#4f21ab, #d2affd);
  --base-display-color-purple-9: light-dark(#391b79, #e1c7ff);
}
