:where(html) {
  color-scheme: light dark;

  --base-display-color-indigo-0: light-dark(#e5e9ff, #1b183f);
  --base-display-color-indigo-1: light-dark(#d2d7fe, #25215f);
  --base-display-color-indigo-2: light-dark(#b1b9fb, #312c90);
  --base-display-color-indigo-3: light-dark(#979ff7, #3935c0);
  --base-display-color-indigo-4: light-dark(#7a82f0, #514ed4);
  --base-display-color-indigo-5: light-dark(#5a61e7, #7070e1);
  --base-display-color-indigo-6: light-dark(#494edf, #9899ec);
  --base-display-color-indigo-7: light-dark(#393cd5, #a2a5f1);
  --base-display-color-indigo-8: light-dark(#2d2db4, #b7baf6);
  --base-display-color-indigo-9: light-dark(#25247b, #c8cbf9);
}
