:where(html) {
  color-scheme: light dark;

  --base-display-color-yellow-0: light-dark(#ffec9e, #2e1a00);
  --base-display-color-yellow-1: light-dark(#ffd642, #3d2401);
  --base-display-color-yellow-2: light-dark(#ebb400, #5a3702);
  --base-display-color-yellow-3: light-dark(#d19d00, #6d4403);
  --base-display-color-yellow-4: light-dark(#b88700, #895906);
  --base-display-color-yellow-5: light-dark(#946a00, #aa7109);
  --base-display-color-yellow-6: light-dark(#805900, #d3910d);
  --base-display-color-yellow-7: light-dark(#704d00, #df9e11);
  --base-display-color-yellow-8: light-dark(#5c3d00, #edb431);
  --base-display-color-yellow-9: light-dark(#422b00, #f0ca6a);
}
