:where(html) {
  color-scheme: light dark;

  --base-display-color-indigo-0: light-dark(
    oklch(93.8% 0.03 277.6),
    oklch(23.8% 0.072 282.9)
  );
  --base-display-color-indigo-1: light-dark(
    oklch(88.8% 0.054 279.5),
    oklch(29.4% 0.107 280.5)
  );
  --base-display-color-indigo-2: light-dark(
    oklch(80.3% 0.094 278.7),
    oklch(36.9% 0.159 277.5)
  );
  --base-display-color-indigo-3: light-dark(
    oklch(73.2% 0.127 278.8),
    oklch(43.6% 0.208 274.8)
  );
  --base-display-color-indigo-4: light-dark(
    oklch(65.2% 0.162 277.8),
    oklch(50.9% 0.2 277.6)
  );
  --base-display-color-indigo-5: light-dark(
    oklch(56.3% 0.199 275.7),
    oklch(60.1% 0.167 280.1)
  );
  --base-display-color-indigo-6: light-dark(
    oklch(51.4% 0.215 274.3),
    oklch(71.5% 0.12 282.4)
  );
  --base-display-color-indigo-7: light-dark(
    oklch(46.7% 0.226 272.6),
    oklch(74.9% 0.109 281.7)
  );
  --base-display-color-indigo-8: light-dark(
    oklch(40.5% 0.204 272.5),
    oklch(80.8% 0.085 282.1)
  );
  --base-display-color-indigo-9: light-dark(
    oklch(32.6% 0.143 275.5),
    oklch(85.5% 0.064 282)
  );
}
