html {
  color-scheme: dark light;

  // 10px/16px = 62.5% -> 1rem = 10px
  font-size: 62.5%;

  accent-color: hsl(var(--accent));
  scrollbar-color: var(--scroll-thumb-color) transparent;
  block-size: 100%;
  caret-color: var(--accent, var(--link));
  -webkit-text-size-adjust: none;
}

body {
  min-block-size: 100%;
  background-color: var(--surface-0);
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  font-weight: var(--fw-default);
  line-height: var(--lh-150);
  color: var(--text-1);
}

a[href] {
  color: var(--accent, var(--link));

  &:is(:hover, :focus) {
    color: var(--link-hover);
  }
}

::selection {
  background-color: var(--accent-400);
  color: var(--neutral-100);
}

// Disabling animations by user preference
@media (--motionNotOK) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}
