:where(html) {
  --amber-50: oklch(98.83%, 0.005, 66.67); /* #FDFBF8 */
  --amber-100: oklch(96.68%, 0.017, 66.67); /* #FCF2E8 */
  --amber-200: oklch(91.99%, 0.042, 66.67); /* #F8E0C8 */
  --amber-300: oklch(85.74%, 0.078, 66.67); /* #F4C79A */
  --amber-400: oklch(79.49%, 0.114, 66.67); /* #EEAD69 */
  --amber-500: oklch(73.24%, 0.152, 66.67); /* #E79325 */
  --amber-600: oklch(61.91%, 0.136, 66.67); /* #BB7305 */
  --amber-700: oklch(52.73%, 0.116, 66.67); /* #975B03 */
  --amber-800: oklch(41.41%, 0.091, 66.67); /* #6C4002 */
  --amber-900: oklch(30.27%, 0.066, 66.67); /* #442701 */
  --amber-950: oklch(19.14%, 0.041, 66.67); /* #201001 */
  --amber-bright: oklch(71%, 0.18, 66.67); /* #E28A00 */
}
