:where(html) {
  --blue-50: oklch(98.83% 0.005 240); /* #F8FCFE */
  --blue-100: oklch(96.48% 0.017 240); /* #EAF5FE */
  --blue-200: oklch(91.6% 0.042 240); /* #CBE8FD */
  --blue-300: oklch(84.96% 0.078 240); /* #9FD5FC */
  --blue-400: oklch(78.32% 0.114 240); /* #6FC2FA */
  --blue-500: oklch(71.88% 0.152 240); /* #2CAFF9 */
  --blue-600: oklch(60.55% 0.136 240); /* #0C8ACA */
  --blue-700: oklch(51.76% 0.116 240); /* #0A6FA3 */
  --blue-800: oklch(40.63% 0.091 240); /* #054F75 */
  --blue-900: oklch(29.69% 0.066 240); /* #03314A */
  --blue-950: oklch(18.75% 0.041 240); /* #011523 */
  --blue-bright: oklch(70% 0.18 240); /* #00A9F7 */
}
