:where(html) {
  --emerald-50: oklch(98.83%, 0.005, 140); /* #FAFCF9 */
  --emerald-100: oklch(96.29%, 0.017, 140); /* #EDF6EB */
  --emerald-200: oklch(91.41%, 0.042, 140); /* #D4EAD0 */
  --emerald-300: oklch(84.57%, 0.078, 140); /* #B2D9A9 */
  --emerald-400: oklch(77.73%, 0.114, 140); /* #8FC982 */
  --emerald-500: oklch(71.09%, 0.152, 140); /* #6AB859 */
  --emerald-600: oklch(59.77%, 0.136, 140); /* #4F9340 */
  --emerald-700: oklch(51.17%, 0.116, 140); /* #3F7633 */
  --emerald-800: oklch(40.04%, 0.091, 140); /* #2B5321 */
  --emerald-900: oklch(29.49%, 0.066, 140); /* #193413 */
  --emerald-950: oklch(18.75%, 0.041, 140); /* #091706 */
  --emerald-bright: oklch(70%, 0.18, 140); /* #59B842 */
}
