:where(html) {
  --indigo-50: oklch(98.83%, 0.005, 260); /* #F9FBFE */
  --indigo-100: oklch(96.48%, 0.017, 260); /* #EDF4FF */
  --indigo-200: oklch(91.8%, 0.042, 260); /* #D5E5FF */
  --indigo-300: oklch(85.35%, 0.078, 260); /* #B4D0FF */
  --indigo-400: oklch(78.91%, 0.114, 260); /* #92BBFF */
  --indigo-500: oklch(72.66%, 0.152, 260); /* #70A6FF */
  --indigo-600: oklch(61.33%, 0.136, 260); /* #5283D5 */
  --indigo-700: oklch(52.34%, 0.116, 260); /* #4169AC */
  --indigo-800: oklch(41.21%, 0.091, 260); /* #2C4A7C */
  --indigo-900: oklch(30.08%, 0.066, 260); /* #1A2E4F */
  --indigo-950: oklch(19.14%, 0.041, 260); /* #091426 */
  --indigo-bright: oklch(70%, 0.17, 260); /* #629DFF */
}
