:where(html) {
  --lime-50: oklch(98.83%, 0.005, 106.67); /* #FBFBF8 */
  --lime-100: oklch(96.48%, 0.017, 106.67); /* #F4F4E7 */
  --lime-200: oklch(91.6%, 0.042, 106.67); /* #E6E6C6 */
  --lime-300: oklch(84.96%, 0.078, 106.67); /* #D3D296 */
  --lime-400: oklch(78.52%, 0.114, 106.67); /* #C2BE63 */
  --lime-500: oklch(72.07%, 0.152, 106.67); /* #B1AA0F */
  --lime-600: oklch(60.74%, 0.136, 106.67); /* #8C8700 */
  --lime-700: oklch(51.95%, 0.116, 106.67); /* #716C00 */
  --lime-800: oklch(40.82%, 0.091, 106.67); /* #504C00 */
  --lime-900: oklch(29.88%, 0.066, 106.67); /* #322F00 */
  --lime-950: oklch(18.95%, 0.041, 106.67); /* #161500 */
  --lime-bright: oklch(77%, 0.18, 106.67); /* #C2BA00 */
}
