:where(html) {
  --mauve-50: oklch(98.83% 0.008 325); /* #FEF9FE */
  --mauve-100: oklch(96.68% 0.008 325); /* #F7F2F7 */
  --mauve-200: oklch(91.8% 0.008 325); /* #E7E2E7 */
  --mauve-300: oklch(85.35% 0.008 325); /* #D2CDD2 */
  --mauve-400: oklch(78.91% 0.008 325); /* #BDB8BD */
  --mauve-500: oklch(72.66% 0.008 325); /* #A9A5A9 */
  --mauve-600: oklch(61.13% 0.008 325); /* #878387 */
  --mauve-700: oklch(52.34% 0.008 325); /* #6C686C */
  --mauve-800: oklch(41.21% 0.008 325); /* #4D494D */
  --mauve-900: oklch(30.27% 0.008 325); /* #312D31 */
  --mauve-950: oklch(19.34% 0.008 325); /* #161317 */
  --mauve-bright: oklch(70% 0.02 325); /* #A59AA5 */
}
