:where(html) {
  --olive-50: oklch(98.83%, 0.008, 120); /* #FAFCF6 */
  --olive-100: oklch(96.48%, 0.008, 120); /* #F2F4EE */
  --olive-200: oklch(91.8%, 0.008, 120); /* #E3E5DF */
  --olive-300: oklch(85.16%, 0.008, 120); /* #CDCFC9 */
  --olive-400: oklch(78.91%, 0.008, 120); /* #B9BBB5 */
  --olive-500: oklch(72.46%, 0.008, 120); /* #A5A7A1 */
  --olive-600: oklch(61.13%, 0.008, 120); /* #83847F */
  --olive-700: oklch(52.34%, 0.008, 120); /* #696B66 */
  --olive-800: oklch(41.02%, 0.008, 120); /* #4A4B46 */
  --olive-900: oklch(30.27%, 0.008, 120); /* #2D2F2A */
  --olive-950: oklch(19.14%, 0.008, 120); /* #141511 */
  --olive-bright: oklch(70%, 0.05, 120); /* #9AA381 */
}
