:where(html) {
  --orange-50: oklch(98.83%, 0.005, 43.33); /* #FEFAFA */
  --orange-100: oklch(96.68%, 0.017, 43.33); /* #FFF1EB */
  --orange-200: oklch(92.19%, 0.042, 43.33); /* #FFDDCF */
  --orange-300: oklch(85.94%, 0.078, 43.33); /* #FEC1A8 */
  --orange-400: oklch(79.88%, 0.114, 43.33); /* #FBA581 */
  --orange-500: oklch(73.83%, 0.152, 43.33); /* #F88756 */
  --orange-600: oklch(62.3%, 0.136, 43.33); /* #C9683D */
  --orange-700: oklch(53.13%, 0.116, 43.33); /* #A25330 */
  --orange-800: oklch(41.8%, 0.091, 43.33); /* #743 43.33 */
  --orange-900: oklch(30.47%, 0.066, 43.33); /* #4A2211 */
  --orange-950: oklch(19.14%, 0.041, 43.33); /* #230D05 */
  --orange-bright: oklch(71%, 0.18, 43.33); /* #FA7435 */
}
