:where(html) {
  --pink-50: oklch(98.83%, 0.005, 340); /* #FDFAFC */
  --pink-100: oklch(96.68%, 0.017, 340); /* #FDF0F8 */
  --pink-200: oklch(92.38%, 0.042, 340); /* #FADBEF */
  --pink-300: oklch(86.33%, 0.078, 340); /* #F6BFE2 */
  --pink-400: oklch(80.27%, 0.114, 340); /* #F0A1D6 */
  --pink-500: oklch(74.41%, 0.152, 340); /* #EA83CA */
  --pink-600: oklch(62.89%, 0.136, 340); /* #BE65A2 */
  --pink-700: oklch(53.71%, 0.116, 340); /* #995183 */
  --pink-800: oklch(41.99%, 0.091, 340); /* #6D375C */
  --pink-900: oklch(30.86%, 0.066, 340); /* #45223A */
  --pink-950: oklch(19.53%, 0.041, 340); /* #210D1B */
  --pink-bright: oklch(70%, 0.18, 340); /* #E56BC1 */
}
