:where(html) {
  --red-50: oklch(98.83% 0.005 20); /* #FEFAFA */
  --red-100: oklch(96.68% 0.017 20); /* #FDF0F0 */
  --red-200: oklch(92.19% 0.042 20); /* #FFDBDA */
  --red-300: oklch(86.13% 0.078 20); /* #FFBEBD */
  --red-400: oklch(80.08% 0.114 20); /* #FFA09F */
  --red-500: oklch(74.22% 0.152 20); /* #FC8083 */
  --red-600: oklch(62.7% 0.136 20); /* #CD6265 */
  --red-700: oklch(53.52% 0.116 20); /* #A64E51 */
  --red-800: oklch(41.99% 0.091 20); /* #773638 */
  --red-900: oklch(30.66% 0.066 20); /* #4B2021 */
  --red-950: oklch(19.34% 0.041 20); /* #240C0D */
  --red-bright: oklch(71% 0.18 20); /* #FE6A71 */
}
