:where(html) {
  --sand-50: oklch(98.83%, 0.01, 75); /* #FFFAF4 */
  --sand-100: oklch(96.48%, 0.012, 75); /* #F8F2EB */
  --sand-200: oklch(91.8%, 0.012, 75); /* #E9E3DB */
  --sand-300: oklch(85.35%, 0.012, 75); /* #D4CEC6 */
  --sand-400: oklch(78.91%, 0.012, 75); /* #BFB9B2 */
  --sand-500: oklch(72.66%, 0.012, 75); /* #ABA69F */
  --sand-600: oklch(61.33%, 0.012, 75); /* #88837C */
  --sand-700: oklch(52.34%, 0.012, 75); /* #6E6962 */
  --sand-800: oklch(41.21%, 0.012, 75); /* #4F4A44 */
  --sand-900: oklch(30.27%, 0.012, 75); /* #322E28 */
  --sand-950: oklch(19.34%, 0.012, 75); /* #18140F */
  --sand-bright: oklch(70%, 0.05, 75); /* #B19B7C */
}
