:where(html) {
  --slate-50: oklch(98.83% 0.005 275); /* #FAFBFE */
  --slate-100: oklch(96.48% 0.018 275); /* #F0F3FF */
  --slate-200: oklch(91.8% 0.024 275); /* #DFE3F4 */
  --slate-300: oklch(85.35% 0.024 275); /* #CACEDF */
  --slate-400: oklch(78.91% 0.024 275); /* #B5B9CA */
  --slate-500: oklch(72.66% 0.024 275); /* #A2A6B6 */
  --slate-600: oklch(61.33% 0.024 275); /* #808393 */
  --slate-700: oklch(52.34% 0.024 275); /* #666978 */
  --slate-800: oklch(41.21% 0.024 275); /* #474A58 */
  --slate-900: oklch(30.27% 0.024 275); /* #2B2E3B */
  --slate-950: oklch(19.34% 0.024 275); /* #11141F */
}
