:where(html) {
  --stone-50: oklch(98.83%, 0.008, 75); /* #FEFBF5 */
  --stone-100: oklch(96.48%, 0.008, 75); /* #F7F3EE */
  --stone-200: oklch(91.8%, 0.008, 75); /* #E7E3DE */
  --stone-300: oklch(85.35%, 0.008, 75); /* #D2CEC9 */
  --stone-400: oklch(78.91%, 0.008, 75); /* #BDBAB5 */
  --stone-500: oklch(72.66%, 0.008, 75); /* #AAA6A1 */
  --stone-600: oklch(61.33%, 0.008, 75); /* #87837F */
  --stone-700: oklch(52.34%, 0.008, 75); /* #6D6965 */
  --stone-800: oklch(41.21%, 0.008, 75); /* #4E4A46 */
  --stone-900: oklch(30.27%, 0.008, 75); /* #312E2A */
  --stone-950: oklch(19.34%, 0.008, 75); /* #171411 */
}
