@use 'sass:map';

//////////////////////////
// Global color tokens

// These colors are private colors and we can't use them elsewhere, only in this file
$-clr-gray-000: 210, 17%, 98%; // hsl(210 17% 98%)
$-clr-gray-100: 210, 17%, 95%; // hsl(210 17% 95%)
$-clr-gray-200: 210, 16%, 93%; //hsl(210 16% 93%)
$-clr-gray-300: 210, 14%, 89%; // hsl(210 14% 89%)
$-clr-gray-400: 210, 14%, 83%; // hsl(210 14% 83%)
$-clr-gray-500: 210, 11%, 71%; // hsl(210 11% 71%)
$-clr-gray-600: 210, 7%, 56%; // hsl(210 7% 56%)
$-clr-gray-700: 210, 9%, 31%; // hsl(210 9% 31%)
$-clr-gray-800: 210, 10%, 23%; // hsl(210 10% 23%)
$-clr-gray-900: 210, 11%, 15%; // hsl(210 11% 15%)
$-clr-gray-1000: 214, 14%, 10%; // hsl(214 14% 10%)
$-clr-gray-1100: 216, 16%, 6%; // hsl(216 16% 6%)
$-clr-gray-1200: 210, 40%, 2%; // hsl(210 40% 2%)

$-clr-stone-000: 200, 27%, 98%; // hsl(200 27% 98%)
$-clr-stone-100: 210, 18%, 96%; // hsl(210 18% 96%)
$-clr-stone-200: 210, 11%, 93%; //hsl(210 11% 93%)
$-clr-stone-300: 192, 9%, 89%; // hsl(192 9% 89%)
$-clr-stone-400: 197, 8%, 83%; // hsl(197 8% 83%)
$-clr-stone-500: 202, 5%, 71%; // hsl(202 5% 71%)
$-clr-stone-600: 200, 3%, 60%; // hsl(200 3% 60%)
$-clr-stone-700: 180, 2%, 50%; // hsl(180 2% 50%)
$-clr-stone-800: 160, 1%, 41%; // hsl(160 1% 41%)
$-clr-stone-900: 90, 1%, 31%; // hsl(90 1% 31%)
$-clr-stone-1000: 60, 3%, 22%; // hsl(60 3% 22%)
$-clr-stone-1100: 60, 6%, 14%; // hsl(60 6% 14%)
$-clr-stone-1200: 60, 6%, 7%; // hsl(60 6% 7%)

$-clr-red-000: 0, 100%, 98%; //hsl(0 100% 98%)
$-clr-red-100: 0, 100%, 95%; //hsl(0 100% 95%)
$-clr-red-200: 0, 100%, 89%; //hsl(0 100% 89%)
$-clr-red-300: 0, 100%, 83%; //hsl(0 100% 83%)
$-clr-red-400: 0, 100%, 76%; //hsl(0 100% 76%)
$-clr-red-500: 0, 100%, 71%; //hsl(0 100% 71%)
$-clr-red-600: 0, 94%, 65%; //hsl(0 94% 65%)
$-clr-red-700: 0, 86%, 59%; //hsl(0 86% 59%)
$-clr-red-800: 0, 74%, 54%; //hsl(0 74% 54%)
$-clr-red-900: 0, 65%, 48%; //hsl(0 65% 48%)
$-clr-red-1000: 0, 65%, 42%; //hsl(0 65% 42%)
$-clr-red-1100: 0, 65%, 36%; //hsl(0 65% 36%)
$-clr-red-1200: 0, 66%, 30%; //hsl(0 66% 30%)

$-clr-pink-000: 336, 100%, 97%; //hsl(336 100% 97%)
$-clr-pink-100: 336, 100%, 94%; //hsl(336 100% 94%)
$-clr-pink-200: 338, 91%, 87%; //hsl(338 91% 87%)
$-clr-pink-300: 339, 90%, 81%; //hsl(339 90% 81%)
$-clr-pink-400: 339, 88%, 74%; //hsl(339 88% 74%)
$-clr-pink-500: 339, 82%, 67%; //hsl(339 82% 67%)
$-clr-pink-600: 339, 76%, 59%; //hsl(339 76% 59%)
$-clr-pink-700: 339, 67%, 52%; //hsl(339 67% 52%)
$-clr-pink-800: 339, 68%, 45%; //hsl(339 68% 45%)
$-clr-pink-900: 339, 69%, 38%; //hsl(339 69% 38%)
$-clr-pink-1000: 339, 70%, 32%; //hsl(339 70% 32%)
$-clr-pink-1100: 339, 69%, 27%; //hsl(339 69% 27%)
$-clr-pink-1200: 339, 70%, 21%; //hsl(339 70% 21%)

$-clr-purple-000: 280, 67%, 96%; //hsl(280 67% 96%)
$-clr-purple-100: 280, 77%, 92%; //hsl(280 77% 92%)
$-clr-purple-200: 288, 86%, 86%; //hsl(288 86% 86%)
$-clr-purple-300: 289, 85%, 78%; //hsl(289 85% 78%)
$-clr-purple-400: 288, 83%, 71%; //hsl(288 83% 71%)
$-clr-purple-500: 288, 75%, 64%; //hsl(288 75% 64%)
$-clr-purple-600: 288, 67%, 58%; //hsl(288 67% 58%)
$-clr-purple-700: 288, 56%, 52%; //hsl(288 56% 52%)
$-clr-purple-800: 288, 54%, 46%; //hsl(288 54% 46%)
$-clr-purple-900: 288, 54%, 40%; //hsl(288 54% 40%)
$-clr-purple-1000: 288, 55%, 33%; //hsl(288 55% 33%)
$-clr-purple-1100: 288, 56%, 26%; //hsl(288 56% 26%)
$-clr-purple-1200: 288, 55%, 20%; //hsl(288 55% 20%)

$-clr-violet-000: 252, 100%, 97%; //hsl(252 100% 97%)
$-clr-violet-100: 257, 100%, 93%; //hsl(257 100% 93%)
$-clr-violet-200: 256, 100%, 87%; //hsl(256 100% 87%)
$-clr-violet-300: 255, 94%, 79%; //hsl(255 94% 79%)
$-clr-violet-400: 255, 93%, 72%; //hsl(255 93% 72%)
$-clr-violet-500: 255, 91%, 67%; //hsl(255 91% 67%)
$-clr-violet-600: 255, 86%, 63%; //hsl(255 86% 63%)
$-clr-violet-700: 255, 78%, 60%; //hsl(255 78% 60%)
$-clr-violet-800: 255, 67%, 55%; //hsl(255 67% 55%)
$-clr-violet-900: 255, 53%, 50%; //hsl(255 53% 50%)
$-clr-violet-1000: 255, 53%, 44%; //hsl(255 53% 44%)
$-clr-violet-1100: 255, 53%, 37%; //hsl(255 53% 37%)
$-clr-violet-1200: 255, 53%, 31%; //hsl(255 53% 31%)

$-clr-indigo-000: 223, 100%, 96%; //hsl(223 100% 96%)
$-clr-indigo-100: 225, 100%, 93%; //hsl(225 100% 93%)
$-clr-indigo-200: 228, 100%, 86%; //hsl(228 100% 86%)
$-clr-indigo-300: 228, 100%, 78%; //hsl(228 100% 78%)
$-clr-indigo-400: 228, 96%, 72%; //hsl(228 96% 72%)
$-clr-indigo-500: 228, 94%, 67%; //hsl(228 94% 67%)
$-clr-indigo-600: 228, 89%, 63%; //hsl(228 89% 63%)
$-clr-indigo-700: 228, 81%, 59%; //hsl(228 81% 59%)
$-clr-indigo-800: 228, 69%, 55%; //hsl(228 69% 55%)
$-clr-indigo-900: 230, 57%, 50%; //hsl(230 57% 50%)
$-clr-indigo-1000: 230, 57%, 43%; //hsl(230 57% 43%)
$-clr-indigo-1100: 230, 57%, 37%; //hsl(230 57% 37%)
$-clr-indigo-1200: 230, 57%, 30%; //hsl(230 57% 30%)

$-clr-blue-000: 205, 100%, 95%; //hsl(205 100% 95%)
$-clr-blue-100: 206, 100%, 91%; //hsl(206 100% 91%)
$-clr-blue-200: 206, 100%, 82%; //hsl(206 100% 82%)
$-clr-blue-300: 206, 96%, 72%; //hsl(206 96% 72%)
$-clr-blue-400: 207, 91%, 64%; //hsl(207 91% 64%)
$-clr-blue-500: 207, 86%, 57%; //hsl(207 86% 57%)
$-clr-blue-600: 208, 80%, 52%; //hsl(208 80% 52%)
$-clr-blue-700: 208, 77%, 47%; //hsl(208 77% 47%)
$-clr-blue-800: 209, 77%, 43%; //hsl(209 77% 43%)
$-clr-blue-900: 209, 75%, 38%; //hsl(209 75% 38%)
$-clr-blue-1000: 209, 76%, 32%; //hsl(209 76% 32%)
$-clr-blue-1100: 209, 75%, 27%; //hsl(209 75% 27%)
$-clr-blue-1200: 209, 76%, 21%; //hsl(209 76% 21%)

$-clr-cyan-000: 185, 81%, 94%; //hsl(185 81% 94%)
$-clr-cyan-100: 185, 84%, 88%; //hsl(185 84% 88%)
$-clr-cyan-200: 186, 77%, 77%; //hsl(186 77% 77%)
$-clr-cyan-300: 187, 74%, 65%; //hsl(187 74% 65%)
$-clr-cyan-400: 187, 69%, 55%; //hsl(187 69% 55%)
$-clr-cyan-500: 188, 72%, 47%; //hsl(188 72% 47%)
$-clr-cyan-600: 187, 80%, 42%; //hsl(187 80% 42%)
$-clr-cyan-700: 188, 83%, 37%; //hsl(188 83% 37%)
$-clr-cyan-800: 189, 85%, 32%; //hsl(189 85% 32%)
$-clr-cyan-900: 189, 85%, 28%; //hsl(189 85% 28%)
$-clr-cyan-1000: 189, 84%, 23%; //hsl(189 84% 23%)
$-clr-cyan-1100: 190, 84%, 17%; //hsl(190 84% 17%)
$-clr-cyan-1200: 189, 84%, 12%; //hsl(189 84% 12%)

$-clr-teal-000: 161, 79%, 95%; //hsl(161 79% 95%)
$-clr-teal-100: 160, 85%, 87%; //hsl(160 85% 87%)
$-clr-teal-200: 162, 78%, 77%; //hsl(162 78% 77%)
$-clr-teal-300: 162, 72%, 65%; //hsl(162 72% 65%)
$-clr-teal-400: 162, 68%, 54%; //hsl(162 68% 45%)
$-clr-teal-500: 162, 73%, 46%; //hsl(162 73% 46%)
$-clr-teal-600: 162, 82%, 40%; //hsl(162 82% 40%)
$-clr-teal-700: 162, 87%, 35%; //hsl(162 87% 35%)
$-clr-teal-800: 162, 88%, 30%; //hsl(162 88% 30%)
$-clr-teal-900: 162, 88%, 26%; //hsl(162 88% 26%)
$-clr-teal-1000: 162, 89%, 21%; //hsl(162 89% 21%)
$-clr-teal-1100: 162, 88%, 16%; //hsl(162 88% 16%)
$-clr-teal-1200: 163, 89%, 11%; //hsl(163 89% 11%)

$-clr-green-000: 131, 67%, 95%; //hsl(131 67% 95%)
$-clr-green-100: 128, 76%, 90%; //hsl(128 76% 90%)
$-clr-green-200: 128, 71%, 82%; //hsl(128 71% 82%)
$-clr-green-300: 129, 68%, 73%; //hsl(129 68% 73%)
$-clr-green-400: 130, 61%, 64%; //hsl(130 61% 64%)
$-clr-green-500: 130, 57%, 56%; //hsl(130 57% 56%)
$-clr-green-600: 131, 50%, 50%; //hsl(131 50% 50%)
$-clr-green-700: 131, 53%, 46%; //hsl(131 53% 46%)
$-clr-green-800: 131, 54%, 40%; //hsl(131 54% 40%)
$-clr-green-900: 132, 52%, 35%; //hsl(132 52% 35%)
$-clr-green-1000: 132, 52%, 29%; //hsl(132 52% 29%)
$-clr-green-1100: 132, 53%, 22%; //hsl(132 53% 22%)
$-clr-green-1200: 131, 53%, 16%; //hsl(131 53% 16%)

$-clr-lime-000: 79, 81%, 94%; //hsl(79 81% 94%)
$-clr-lime-100: 80, 83%, 88%; //hsl(80 83% 88%)
$-clr-lime-200: 81, 81%, 80%; //hsl(81 81% 80%)
$-clr-lime-300: 82, 75%, 69%; //hsl(82 75% 69%)
$-clr-lime-400: 83, 73%, 59%; //hsl(83 73% 59%)
$-clr-lime-500: 84, 69%, 51%; //hsl(84 69% 51%)
$-clr-lime-600: 85, 74%, 45%; //hsl(85 74% 45%)
$-clr-lime-700: 85, 79%, 40%; //hsl(85 79% 40%)
$-clr-lime-800: 86, 84%, 36%; //hsl(86 84% 36%)
$-clr-lime-900: 85, 84%, 32%; //hsl(85 84% 32%)
$-clr-lime-1000: 85, 83%, 26%; //hsl(85 83% 26%)
$-clr-lime-1100: 85, 83%, 21%; //hsl(85 83% 21%)
$-clr-lime-1200: 85, 84%, 15%; //hsl(85 84% 15%)

$-clr-yellow-000: 50, 100%, 93%; //hsl(50 100% 93%)
$-clr-yellow-100: 49, 100%, 87%; //hsl(49 100% 87%)
$-clr-yellow-200: 49, 100%, 80%; //hsl(49 100% 80%)
$-clr-yellow-300: 48, 100%, 70%; //hsl(48 100% 70%)
$-clr-yellow-400: 47, 100%, 62%; //hsl(47 100% 62%)
$-clr-yellow-500: 45, 97%, 54%; //hsl(45 97% 54%)
$-clr-yellow-600: 42, 96%, 50%; //hsl(42 96% 50%)
$-clr-yellow-700: 39, 100%, 48%; //hsl(39 100% 48%)
$-clr-yellow-800: 35, 100%, 47%; //hsl(35 100% 47%)
$-clr-yellow-900: 31, 100%, 45%; //hsl(31 100% 45%)
$-clr-yellow-1000: 31, 100%, 35%; //hsl(31 100% 35%)
$-clr-yellow-1100: 31, 100%, 25%; //hsl(31 100% 25%)
$-clr-yellow-1200: 31, 100%, 20%; //hsl(31 200% 20%)

$-clr-orange-000: 34, 100%, 95%; //hsl(34 100% 95%)
$-clr-orange-100: 33, 100%, 90%; //hsl(33 100% 90%)
$-clr-orange-200: 33, 100%, 83%; //hsl(33 100% 83%)
$-clr-orange-300: 32, 100%, 74%; //hsl(32 100% 74%)
$-clr-orange-400: 31, 100%, 65%; //hsl(31 100% 65%)
$-clr-orange-500: 29, 100%, 58%; //hsl(29 100% 58%)
$-clr-orange-600: 27, 98%, 54%; //hsl(27 98% 54%)
$-clr-orange-700: 24, 94%, 50%; //hsl(24 94% 50%)
$-clr-orange-800: 21, 90%, 48%; //hsl(21 90% 48%)
$-clr-orange-900: 17, 87%, 45%; //hsl(17 87% 45%)
$-clr-orange-1000: 17, 87%, 40%; //hsl(17 87% 40%)
$-clr-orange-1100: 17, 87%, 32%; //hsl(17 87% 32%)
$-clr-orange-1200: 17, 87%, 27%; //hsl(17 87% 27%)

$-clr-choco-000: 48, 100%, 93%; //hsl(48 100% 93%)
$-clr-choco-100: 35, 91%, 86%; //hsl(35 91% 86%)
$-clr-choco-200: 30, 85%, 79%; //hsl(30 85% 79%)
$-clr-choco-300: 27, 80%, 72%; //hsl(27 80% 72%)
$-clr-choco-400: 25, 75%, 65%; //hsl(25 75% 65%)
$-clr-choco-500: 25, 71%, 57%; //hsl(25 71% 57%)
$-clr-choco-600: 25, 70%, 49%; //hsl(25 70% 49%)
$-clr-choco-700: 25, 75%, 42%; //hsl(25 75% 42%)
$-clr-choco-800: 25, 75%, 37%; //hsl(25 75% 37%)
$-clr-choco-900: 25, 76%, 31%; //hsl(25 76% 31%)
$-clr-choco-1000: 25, 71%, 26%; //hsl(25 71% 26%)
$-clr-choco-1100: 25, 66%, 21%; //hsl(25 66% 21%)
$-clr-choco-1200: 25, 65%, 15%; //hsl(25 65% 15%)

$-clr-brown-000: 36, 60%, 95%; //hsl(36 60% 95%)
$-clr-brown-100: 32, 44%, 87%; //hsl(32 44% 87%)
$-clr-brown-200: 28, 40%, 80%; //hsl(28 40% 80%)
$-clr-brown-300: 28, 38%, 72%; //hsl(28 38% 72%)
$-clr-brown-400: 27, 36%, 65%; //hsl(27 36% 65%)
$-clr-brown-500: 28, 34%, 57%; //hsl(28 34% 57%)
$-clr-brown-600: 28, 32%, 50%; //hsl(28 32% 50%)
$-clr-brown-700: 28, 35%, 43%; //hsl(28 35% 43%)
$-clr-brown-800: 28, 38%, 37%; //hsl(28 38% 37%)
$-clr-brown-900: 27, 42%, 31%; //hsl(27 42% 31%)
$-clr-brown-1000: 25, 48%, 25%; //hsl(25 45% 25%)
$-clr-brown-1100: 23, 58%, 19%; //hsl(23 58% 19%)
$-clr-brown-1200: 22, 57%, 16%; //hsl(22 57% 16%)

$-clr-sand-000: 200, 27%, 98%; //hsl(200 27% 98%)
$-clr-sand-100: 48, 17%, 88%; //hsl(48 17% 88%)
$-clr-sand-200: 45, 22%, 79%; //hsl(45 22% 79%)
$-clr-sand-300: 44, 22%, 69%; //hsl(44 22% 69%)
$-clr-sand-400: 44, 17%, 62%; //hsl(44 17% 62%)
$-clr-sand-500: 44, 14%, 54%; //hsl(44 14% 54%)
$-clr-sand-600: 42, 14%, 46%; //hsl(42 14% 46%)
$-clr-sand-700: 43, 16%, 39%; //hsl(43 16% 39%)
$-clr-sand-800: 41, 15%, 32%; //hsl(41 15% 32%)
$-clr-sand-900: 43, 14%, 26%; //hsl(43 14% 26%)
$-clr-sand-1000: 44, 11%, 20%; //hsl(44 11% 20%)
$-clr-sand-1100: 60, 6%, 14%; //hsl(60 6% 14%)
$-clr-sand-1200: 60, 6%, 7%; //hsl(60 6% 7%)

$-clr-camo-000: 66, 71%, 95%; //hsl(66 71% 95%)
$-clr-camo-100: 64, 69%, 77%; //hsl(64 69% 77%)
$-clr-camo-200: 65, 69%, 59%; //hsl(65 69% 59%)
$-clr-camo-300: 65, 61%, 51%; //hsl(65 61% 51%)
$-clr-camo-400: 63, 61%, 46%; //hsl(63 61% 46%)
$-clr-camo-500: 60, 62%, 41%; //hsl(60 62% 41%)
$-clr-camo-600: 59, 65%, 36%; //hsl(59 65% 36%)
$-clr-camo-700: 56, 67%, 33%; //hsl(56 67% 33%)
$-clr-camo-800: 54, 70%, 29%; //hsl(54 70% 29%)
$-clr-camo-900: 54, 69%, 25%; //hsl(54 69% 25%)
$-clr-camo-1000: 53, 69%, 22%; //hsl(53 69% 22%)
$-clr-camo-1100: 53, 69%, 18%; //hsl(53 69% 18%)
$-clr-camo-1200: 52, 69%, 13%; //hsl(52 69% 13%)

$-clr-jungle-000: 74, 98%, 84%; //hsl(74 98% 84%)
$-clr-jungle-100: 74, 79%, 78%; //hsl(74 79% 78%)
$-clr-jungle-200: 74, 68%, 71%; //hsl(74 68% 71%)
$-clr-jungle-300: 75, 62%, 65%; //hsl(75 62% 65%)
$-clr-jungle-400: 74, 56%, 59%; //hsl(74 56% 59%)
$-clr-jungle-500: 74, 53%, 53%; //hsl(74 53% 53%)
$-clr-jungle-600: 74, 55%, 47%; //hsl(74 55% 47%)
$-clr-jungle-700: 74, 66%, 42%; //hsl(74 66% 42%)
$-clr-jungle-800: 74, 79%, 36%; //hsl(74 79% 36%)
$-clr-jungle-900: 73, 90%, 32%; //hsl(73 90% 32%)
$-clr-jungle-1000: 73, 91%, 26%; //hsl(73 91% 26%)
$-clr-jungle-1100: 73, 91%, 21%; //hsl(73 91% 21%)
$-clr-jungle-1200: 73, 90%, 16%; //hsl(73 90% 16%)

$colors: (
  'neutral': (
    '000': $-clr-gray-000,
    '100': $-clr-gray-100,
    '200': $-clr-gray-200,
    '300': $-clr-gray-300,
    '400': $-clr-gray-400,
    '500': $-clr-gray-500,
    '600': $-clr-gray-600,
    '700': $-clr-gray-700,
    '800': $-clr-gray-800,
    '900': $-clr-gray-900,
    '1000': $-clr-gray-1000,
    '1100': $-clr-gray-1100,
    '1200': $-clr-gray-1200,
  ),
  'accent': (
    '000': $-clr-pink-000,
    '100': $-clr-pink-100,
    '200': $-clr-pink-200,
    '300': $-clr-pink-300,
    '400': $-clr-pink-400,
    '500': $-clr-pink-500,
    '600': $-clr-pink-600,
    '700': $-clr-pink-700,
    '800': $-clr-pink-800,
    '900': $-clr-pink-900,
    '1000': $-clr-pink-1000,
    '1100': $-clr-pink-1100,
    '1200': $-clr-pink-1200,
  ),
  'primary': (
    '000': $-clr-blue-000,
    '100': $-clr-blue-100,
    '200': $-clr-blue-200,
    '300': $-clr-blue-300,
    '400': $-clr-blue-400,
    '500': $-clr-blue-500,
    '600': $-clr-blue-600,
    '700': $-clr-blue-700,
    '800': $-clr-blue-800,
    '900': $-clr-blue-900,
    '1000': $-clr-blue-1000,
    '1100': $-clr-blue-1100,
    '1200': $-clr-blue-1200,
  ),
  'error': (
    '200': $-clr-red-200,
    '300': $-clr-red-300,
    '600': $-clr-red-600,
  ),
  'indigo': (
    '300': $-clr-indigo-300,
    '500': $-clr-indigo-500,
    '700': $-clr-indigo-700,
  ),
  'purple': (
    '300': $-clr-purple-300,
    '700': $-clr-purple-700,
  ),
);

//////////////////////////
// Contextual color tokens
$color-neutral-000: hsl(var(--neutral-000));
$color-neutral-100: hsl(var(--neutral-100));
$color-neutral-200: hsl(var(--neutral-200));
$color-neutral-300: hsl(var(--neutral-300));
$color-neutral-400: hsl(var(--neutral-400));
$color-neutral-500: hsl(var(--neutral-500));
$color-neutral-600: hsl(var(--neutral-600));
$color-neutral-700: hsl(var(--neutral-700));
$color-neutral-800: hsl(var(--neutral-800));
$color-neutral-900: hsl(var(--neutral-900));
$color-neutral-1000: hsl(var(--neutral-1000));
$color-neutral-1100: hsl(var(--neutral-1100));
$color-neutral-1200: hsl(var(--neutral-1200));

$color-primary-000: hsl(var(--primary-000));
$color-primary-100: hsl(var(--primary-100));
$color-primary-200: hsl(var(--primary-200));
$color-primary-300: hsl(var(--primary-300));
$color-primary-400: hsl(var(--primary-400));
$color-primary-500: hsl(var(--primary-500));
$color-primary-600: hsl(var(--primary-600));
$color-primary-700: hsl(var(--primary-700));
$color-primary-800: hsl(var(--primary-800));
$color-primary-900: hsl(var(--primary-900));
$color-primary-1000: hsl(var(--primary-1000));
$color-primary-1100: hsl(var(--primary-1100));
$color-primary-1200: hsl(var(--primary-1200));

$color-accent-000: hsl(var(--accent-000));
$color-accent-100: hsl(var(--accent-100));
$color-accent-200: hsl(var(--accent-200));
$color-accent-300: hsl(var(--accent-300));
$color-accent-400: hsl(var(--accent-400));
$color-accent-500: hsl(var(--accent-500));
$color-accent-600: hsl(var(--accent-600));
$color-accent-700: hsl(var(--accent-700));
$color-accent-800: hsl(var(--accent-800));
$color-accent-900: hsl(var(--accent-900));
$color-accent-1000: hsl(var(--accent-1000));
$color-accent-1100: hsl(var(--accent-1100));
$color-accent-1200: hsl(var(--accent-1200));

// Link colors
$color-link-200: hsl(var(--error-200));
$color-link-300: hsl(var(--error-300));

// Error colors
$color-error-200: hsl(var(--error-200));
$color-error-300: hsl(var(--error-300));
$color-error-600: hsl(var(--error-600));
