:where(html) {
  /* Private variables */
  --_ff-montserrat: 'Montserrat', sans-serif;
  --_ff-inter: 'Inter', sans-serif;

  --ff-base: var(--_ff-inter);
  --ff-accent: var(--_ff-montserrat);

  /* Font weights */
  --_fw-100: 100;
  --_fw-200: 200;
  --_fw-300: 300;
  --_fw-400: 400;
  --_fw-500: 500;
  --_fw-600: 600;
  --_fw-700: 700;
  --_fw-800: 800;
  --_fw-900: 900;

  --fw-thin: var(--_fw-100);
  --fw-extra-light: var(--_fw-200);
  --fw-light: var(--_fw-300);
  --fw-regular: var(--_fw-400);
  --fw-medium: var(--_fw-500);
  --fw-semi-bold: var(--_fw-600);
  --fw-bold: var(--_fw-700);
  --fw-extra-bold: var(--_fw-800);
  --fw-black: var(--_fw-900);

  /* Font line heights */
  --lh-95: 0.95;
  --lh-100: 1;
  --lh-110: 1.1;
  --lh-125: 1.25;
  --lh-150: 1.5;
  --lh-175: 1.75;
  --lh-200: 2;

  /* Font letter spacing */
  --letter-spacing-0: -0.05em;
  --letter-spacing-1: 0.025em;
  --letter-spacing-2: 0.05em;
  --letter-spacing-3: 0.075em;
  --letter-spacing-4: 0.15em;
  --letter-spacing-5: 0.5em;
  --letter-spacing-6: 0.75em;
  --letter-spacing-7: 1em;

  /* Fluid font sizes */
  --fs-fluid-0: clamp(1.2rem, 2vw, 1.6rem);
  --fs-fluid-1: clamp(1.6rem, 4vw, 2rem);
  --fs-fluid-2: clamp(2.4rem, 6vw, 4rem);
  --fs-fluid-3: clamp(3.2rem, 9vw, 5.6rem);

  /* Headings */
  --heading-font-family: var(--ff-accent);
  --heading-font-weight: var(--fw-black);
  --heading-line-height: var(--lh-100);
  --heading-letter-spacing: var(--letter-spacing-0);
  --heading-text-transform: none;

  --h1-font-size: var(--fs-900);
  --h2-font-size: var(--fs-800);
  --h3-font-size: var(--fs-700);
  --h4-font-size: var(--fs-600);
  --h5-font-size: var(--fs-500);

  /* Subheadings */
  --subheading-font-family: var(--ff-base);
  --subheading-font-size: var(--fs-700);
  --subheading-font-weight: var(--fw-regular);
  --subheading-color-default: var(--color-text-default);
  --subheading-line-height: var(--lh-150);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  color: var(--text-1);
  letter-spacing: var(--heading-letter-spacing);
  text-transform: var(--heading-text-transform);
  text-wrap: balance;
}

:is(h1) {
  font-size: var(--h1-font-size);
  max-inline-size: var(--size-header-1);
}

:is(h2) {
  font-size: var(--h2-font-size);
  max-inline-size: var(--size-header-2);
}

:is(h3) {
  font-size: var(--h3-font-size);
}

:is(h4) {
  font-size: var(--h4-font-size);
}

:is(h5) {
  font-size: var(--h5-font-size);
}

:is(h3, h4, h5, h6, dt) {
  max-inline-size: var(--size-header-3);
}

:is(p, ul, ol, dl, h6) {
  font-size: var(--fs-200);
}

:is(a, u, ins, abbr) {
  text-underline-offset: 1px;
}

@supports (-moz-appearance: none) {
  :is(a, u, ins, abbr) {
    text-underline-offset: 2px;
  }
}

:is(small) {
  font-size: max(0.5em, var(--fs-100));
  max-inline-size: var(--size-content-1);
}
