:where(html) {
  --cyan-50: oklch(98.83% 0.005 180); /* #F8FCFB */
  --cyan-100: oklch(96.29% 0.017 180); /* #E7F7F3 */
  --cyan-200: oklch(91.21% 0.042 180); /* #C5ECE3 */
  --cyan-300: oklch(84.38% 0.078 180); /* #92DDCE */
  --cyan-400: oklch(77.34% 0.114 180); /* #51CDB8 */
  --cyan-500: oklch(70.51% 0.152 180); /* #00B9A3 */
  --cyan-600: oklch(59.18% 0.136 180); /* #009280 */
  --cyan-700: oklch(50.59% 0.116 180); /* #007667 */
  --cyan-800: oklch(39.65% 0.091 180); /* #005348 */
  --cyan-900: oklch(28.91% 0.066 180); /* #00332C */
  --cyan-950: oklch(18.16% 0.041 180); /* #001712 */
  --cyan-bright: oklch(77% 0.18 180); /* #00D1B8 */
}
