:where(html) {
  --gray-50: oklch(98.83% 0.005 275); /* #FAFBFE */
  --gray-100: oklch(96.48% 0.016 275); /* #F0F3FF */
  --gray-200: oklch(91.8% 0.016 275); /* #E0E3EF */
  --gray-300: oklch(85.35% 0.016 275); /* #CBCEDA */
  --gray-400: oklch(78.91% 0.016 275); /* #B7BAC5 */
  --gray-500: oklch(72.66% 0.016 275); /* #A3A6B1 */
  --gray-600: oklch(61.33% 0.016 275); /* #81848E */
  --gray-700: oklch(52.34% 0.016 275); /* #676973 */
  --gray-800: oklch(41.21% 0.016 275); /* #484A54 */
  --gray-900: oklch(30.27% 0.016 275); /* #2C2E37 */
  --gray-950: oklch(19.34% 0.016 275); /* #12141C */
}
