:where(html) {
  --green-50: oklch(98.83% 0.005 123.33); /* #FAFCF8 */
  --green-100: oklch(96.29% 0.017 123.33); /* #F0F5E8 */
  --green-200: oklch(91.41% 0.042 123.33); /* #DDE8C9 */
  --green-300: oklch(84.77% 0.078 123.33); /* #C3D69E */
  --green-400: oklch(78.13% 0.114 123.33); /* #A9C470 */
  --green-500: oklch(71.48% 0.152 123.33); /* #91B237 */
  --green-600: oklch(60.35% 0.136 123.33); /* #728E1F */
  --green-700: oklch(51.56% 0.116 123.33); /* #5B7218 */
  --green-800: oklch(40.43% 0.091 123.33); /* #3F500E */
  --green-900: oklch(29.69% 0.066 123.33); /* #273207 */
  --green-950: oklch(18.75% 0.041 123.33); /* #101602 */
  --green-bright: oklch(75% 0.18 123.33); /* #8AAF00 */
}
