:where(html) {
  --purple-50: oklch(98.83% 0.005 300); /* #FCFAFE */
  --purple-100: oklch(96.68% 0.017 300); /* #F6F2FE */
  --purple-200: oklch(92.19% 0.042 300); /* #E9DFFE */
  --purple-300: oklch(85.94% 0.078 300); /* #D8C6FD */
  --purple-400: oklch(79.88% 0.114 300); /* #C9ACFC */
  --purple-500: oklch(73.83% 0.152 300); /* #B992FB */
  --purple-600: oklch(62.5% 0.136 300); /* #9572CD */
  --purple-700: oklch(53.32% 0.116 300); /* #775BA5 */
  --purple-800: oklch(41.8% 0.091 300); /* #544076 */
  --purple-900: oklch(30.66% 0.066 300); /* #35274B */
  --purple-950: oklch(19.53% 0.041 300); /* #181024 */
  --purple-bright: oklch(70% 0.18 300); /* #B180FC */
}
