:where(html) {
  --sky-50: oklch(98.83% 0.005 210); /* #F8FCFD */
  --sky-100: oklch(96.29% 0.017 210); /* #E6F6F9 */
  --sky-200: oklch(91.41% 0.042 210); /* #C3EBF2 */
  --sky-300: oklch(84.57% 0.078 210); /* #8EDBE9 */
  --sky-400: oklch(77.73% 0.114 210); /* #49CADF */
  --sky-500: oklch(70.9% 0.152 210); /* #00B5CB */
  --sky-600: oklch(59.57% 0.136 210); /* #008FA1 */
  --sky-700: oklch(50.78% 0.116 210); /* #007381 */
  --sky-800: oklch(39.84% 0.091 210); /* #00515C */
  --sky-900: oklch(29.1% 0.066 210); /* #003239 */
  --sky-950: oklch(18.16% 0.041 210); /* #00161A */
  --sky-bright: oklch(77% 0.17 210); /* #00CAE3 */
}
