:where(html) {
  --teal-50: oklch(98.83% 0.005 160); /* #F9FCFA */
  --teal-100: oklch(96.29% 0.017 160); /* #E9F7EF */
  --teal-200: oklch(91.21% 0.042 160); /* #CBEBD8 */
  --teal-300: oklch(84.38% 0.078 160); /* #9FDCBA */
  --teal-400: oklch(77.54% 0.114 160); /* #6ECC9D */
  --teal-500: oklch(70.51% 0.152 160); /* #23BC7F */
  --teal-600: oklch(59.38% 0.136 160); /* #009662 */
  --teal-700: oklch(50.78% 0.116 160); /* #00794E */
  --teal-800: oklch(39.84% 0.091 160); /* #005636 */
  --teal-900: oklch(29.1% 0.066 160); /* #003520 */
  --teal-950: oklch(18.36% 0.041 160); /* #00180C */
  --teal-bright: oklch(70% 0.18 160); /* #00BB7B */
}
