:where(html) {
  --zinc-50: oklch(98.83% 0.005 275); /* #FAFBFF */
  --zinc-100: oklch(96.48% 0.016 275); /* #F2F3F9 */
  --zinc-200: oklch(91.8% 0.016 275); /* #E2E4E9 */
  --zinc-300: oklch(85.35% 0.016 275); /* #CDCED4 */
  --zinc-400: oklch(78.91% 0.016 275); /* #B8BABF */
  --zinc-500: oklch(72.66% 0.016 275); /* #A5A6AC */
  --zinc-600: oklch(61.33% 0.016 275); /* #838489 */
  --zinc-700: oklch(52.34% 0.016 275); /* #686A6F */
  --zinc-800: oklch(41.21% 0.016 275); /* #494B4F */
  --zinc-900: oklch(30.27% 0.016 275); /* #2D2E33 */
  --zinc-950: oklch(19.34% 0.016 275); /* #131418 */
}
