@use 'sass:map';

//////////////////////////
// Global color tokens

// These colors are private colors and we can't use them elsewhere, only in this file
$-clr-gray-0: 210, 17%, 98%; // hsl(210 17% 98%)
$-clr-gray-1: 210, 17%, 95%; // hsl(210 17% 95%)
$-clr-gray-2: 210, 16%, 93%; //hsl(210 16% 93%)
$-clr-gray-3: 210, 14%, 89%; // hsl(210 14% 89%)
$-clr-gray-4: 210, 14%, 83%; // hsl(210 14% 83%)
$-clr-gray-5: 210, 11%, 71%; // hsl(210 11% 71%)
$-clr-gray-6: 210, 7%, 56%; // hsl(210 7% 56%)
$-clr-gray-7: 210, 9%, 31%; // hsl(210 9% 31%)
$-clr-gray-8: 210, 10%, 23%; // hsl(210 10% 23%)
$-clr-gray-9: 210, 11%, 15%; // hsl(210 11% 15%)
$-clr-gray-10: 214, 14%, 10%; // hsl(214 14% 10%)
$-clr-gray-11: 216, 16%, 6%; // hsl(216 16% 6%)
$-clr-gray-12: 210, 40%, 2%; // hsl(210 40% 2%)

$-clr-stone-0: 200, 27%, 98%; // hsl(200 27% 98%)
$-clr-stone-1: 210, 18%, 96%; // hsl(210 18% 96%)
$-clr-stone-2: 210, 11%, 93%; //hsl(210 11% 93%)
$-clr-stone-3: 192, 9%, 89%; // hsl(192 9% 89%)
$-clr-stone-4: 197, 8%, 83%; // hsl(197 8% 83%)
$-clr-stone-5: 202, 5%, 71%; // hsl(202 5% 71%)
$-clr-stone-6: 200, 3%, 60%; // hsl(200 3% 60%)
$-clr-stone-7: 180, 2%, 50%; // hsl(180 2% 50%)
$-clr-stone-8: 160, 1%, 41%; // hsl(160 1% 41%)
$-clr-stone-9: 90, 1%, 31%; // hsl(90 1% 31%)
$-clr-stone-10: 60, 3%, 22%; // hsl(60 3% 22%)
$-clr-stone-11: 60, 6%, 14%; // hsl(60 6% 14%)
$-clr-stone-12: 60, 6%, 7%; // hsl(60 6% 7%)

$-clr-red-0: 0, 100%, 98%; //hsl(0 100% 98%)
$-clr-red-1: 0, 100%, 95%; //hsl(0 100% 95%)
$-clr-red-2: 0, 100%, 89%; //hsl(0 100% 89%)
$-clr-red-3: 0, 100%, 83%; //hsl(0 100% 83%)
$-clr-red-4: 0, 100%, 76%; //hsl(0 100% 76%)
$-clr-red-5: 0, 100%, 71%; //hsl(0 100% 71%)
$-clr-red-6: 0, 94%, 65%; //hsl(0 94% 65%)
$-clr-red-7: 0, 86%, 59%; //hsl(0 86% 59%)
$-clr-red-8: 0, 74%, 54%; //hsl(0 74% 54%)
$-clr-red-9: 0, 65%, 48%; //hsl(0 65% 48%)
$-clr-red-10: 0, 65%, 42%; //hsl(0 65% 42%)
$-clr-red-11: 0, 65%, 36%; //hsl(0 65% 36%)
$-clr-red-12: 0, 66%, 30%; //hsl(0 66% 30%)

$-clr-pink-0: 336, 100%, 97%; //hsl(336 100% 97%)
$-clr-pink-1: 336, 100%, 94%; //hsl(336 100% 94%)
$-clr-pink-2: 338, 91%, 87%; //hsl(338 91% 87%)
$-clr-pink-3: 339, 90%, 81%; //hsl(339 90% 81%)
$-clr-pink-4: 339, 88%, 74%; //hsl(339 88% 74%)
$-clr-pink-5: 339, 82%, 67%; //hsl(339 82% 67%)
$-clr-pink-6: 339, 76%, 59%; //hsl(339 76% 59%)
$-clr-pink-7: 339, 67%, 52%; //hsl(339 67% 52%)
$-clr-pink-8: 339, 68%, 45%; //hsl(339 68% 45%)
$-clr-pink-9: 339, 69%, 38%; //hsl(339 69% 38%)
$-clr-pink-10: 339, 70%, 32%; //hsl(339 70% 32%)
$-clr-pink-11: 339, 69%, 27%; //hsl(339 69% 27%)
$-clr-pink-12: 339, 70%, 21%; //hsl(339 70% 21%)

$-clr-purple-0: 280, 67%, 96%; //hsl(280 67% 96%)
$-clr-purple-1: 280, 77%, 92%; //hsl(280 77% 92%)
$-clr-purple-2: 288, 86%, 86%; //hsl(288 86% 86%)
$-clr-purple-3: 289, 85%, 78%; //hsl(289 85% 78%)
$-clr-purple-4: 288, 83%, 71%; //hsl(288 83% 71%)
$-clr-purple-5: 288, 75%, 64%; //hsl(288 75% 64%)
$-clr-purple-6: 288, 67%, 58%; //hsl(288 67% 58%)
$-clr-purple-7: 288, 56%, 52%; //hsl(288 56% 52%)
$-clr-purple-8: 288, 54%, 46%; //hsl(288 54% 46%)
$-clr-purple-9: 288, 54%, 40%; //hsl(288 54% 40%)
$-clr-purple-10: 288, 55%, 33%; //hsl(288 55% 33%)
$-clr-purple-11: 288, 56%, 26%; //hsl(288 56% 26%)
$-clr-purple-12: 288, 55%, 20%; //hsl(288 55% 20%)

$-clr-violet-0: 252, 100%, 97%; //hsl(252 100% 97%)
$-clr-violet-1: 257, 100%, 93%; //hsl(257 100% 93%)
$-clr-violet-2: 256, 100%, 87%; //hsl(256 100% 87%)
$-clr-violet-3: 255, 94%, 79%; //hsl(255 94% 79%)
$-clr-violet-4: 255, 93%, 72%; //hsl(255 93% 72%)
$-clr-violet-5: 255, 91%, 67%; //hsl(255 91% 67%)
$-clr-violet-6: 255, 86%, 63%; //hsl(255 86% 63%)
$-clr-violet-7: 255, 78%, 60%; //hsl(255 78% 60%)
$-clr-violet-8: 255, 67%, 55%; //hsl(255 67% 55%)
$-clr-violet-9: 255, 53%, 50%; //hsl(255 53% 50%)
$-clr-violet-10: 255, 53%, 44%; //hsl(255 53% 44%)
$-clr-violet-11: 255, 53%, 37%; //hsl(255 53% 37%)
$-clr-violet-12: 255, 53%, 31%; //hsl(255 53% 31%)

$-clr-indigo-0: 223, 100%, 96%; //hsl(223 100% 96%)
$-clr-indigo-1: 225, 100%, 93%; //hsl(225 100% 93%)
$-clr-indigo-2: 228, 100%, 86%; //hsl(228 100% 86%)
$-clr-indigo-3: 228, 100%, 78%; //hsl(228 100% 78%)
$-clr-indigo-4: 228, 96%, 72%; //hsl(228 96% 72%)
$-clr-indigo-5: 228, 94%, 67%; //hsl(228 94% 67%)
$-clr-indigo-6: 228, 89%, 63%; //hsl(228 89% 63%)
$-clr-indigo-7: 228, 81%, 59%; //hsl(228 81% 59%)
$-clr-indigo-8: 228, 69%, 55%; //hsl(228 69% 55%)
$-clr-indigo-9: 230, 57%, 50%; //hsl(230 57% 50%)
$-clr-indigo-10: 230, 57%, 43%; //hsl(230 57% 43%)
$-clr-indigo-11: 230, 57%, 37%; //hsl(230 57% 37%)
$-clr-indigo-12: 230, 57%, 30%; //hsl(230 57% 30%)

$-clr-blue-0: 205, 100%, 95%; //hsl(205 100% 95%)
$-clr-blue-1: 206, 100%, 91%; //hsl(206 100% 91%)
$-clr-blue-2: 206, 100%, 82%; //hsl(206 100% 82%)
$-clr-blue-3: 206, 96%, 72%; //hsl(206 96% 72%)
$-clr-blue-4: 207, 91%, 64%; //hsl(207 91% 64%)
$-clr-blue-5: 207, 86%, 57%; //hsl(207 86% 57%)
$-clr-blue-6: 208, 80%, 52%; //hsl(208 80% 52%)
$-clr-blue-7: 208, 77%, 47%; //hsl(208 77% 47%)
$-clr-blue-8: 209, 77%, 43%; //hsl(209 77% 43%)
$-clr-blue-9: 209, 75%, 38%; //hsl(209 75% 38%)
$-clr-blue-10: 209, 76%, 32%; //hsl(209 76% 32%)
$-clr-blue-11: 209, 75%, 27%; //hsl(209 75% 27%)
$-clr-blue-12: 209, 76%, 21%; //hsl(209 76% 21%)

$-clr-cyan-0: 185, 81%, 94%; //hsl(185 81% 94%)
$-clr-cyan-1: 185, 84%, 88%; //hsl(185 84% 88%)
$-clr-cyan-2: 186, 77%, 77%; //hsl(186 77% 77%)
$-clr-cyan-3: 187, 74%, 65%; //hsl(187 74% 65%)
$-clr-cyan-4: 187, 69%, 55%; //hsl(187 69% 55%)
$-clr-cyan-5: 188, 72%, 47%; //hsl(188 72% 47%)
$-clr-cyan-6: 187, 80%, 42%; //hsl(187 80% 42%)
$-clr-cyan-7: 188, 83%, 37%; //hsl(188 83% 37%)
$-clr-cyan-8: 189, 85%, 32%; //hsl(189 85% 32%)
$-clr-cyan-9: 189, 85%, 28%; //hsl(189 85% 28%)
$-clr-cyan-10: 189, 84%, 23%; //hsl(189 84% 23%)
$-clr-cyan-11: 190, 84%, 17%; //hsl(190 84% 17%)
$-clr-cyan-12: 189, 84%, 12%; //hsl(189 84% 12%)

$-clr-teal-0: 161, 79%, 95%; //hsl(161 79% 95%)
$-clr-teal-1: 160, 85%, 87%; //hsl(160 85% 87%)
$-clr-teal-2: 162, 78%, 77%; //hsl(162 78% 77%)
$-clr-teal-3: 162, 72%, 65%; //hsl(162 72% 65%)
$-clr-teal-4: 162, 68%, 54%; //hsl(162 68% 45%)
$-clr-teal-5: 162, 73%, 46%; //hsl(162 73% 46%)
$-clr-teal-6: 162, 82%, 40%; //hsl(162 82% 40%)
$-clr-teal-7: 162, 87%, 35%; //hsl(162 87% 35%)
$-clr-teal-8: 162, 88%, 30%; //hsl(162 88% 30%)
$-clr-teal-9: 162, 88%, 26%; //hsl(162 88% 26%)
$-clr-teal-10: 162, 89%, 21%; //hsl(162 89% 21%)
$-clr-teal-11: 162, 88%, 16%; //hsl(162 88% 16%)
$-clr-teal-12: 163, 89%, 11%; //hsl(163 89% 11%)

$-clr-green-0: 131, 67%, 95%; //hsl(131 67% 95%)
$-clr-green-1: 128, 76%, 90%; //hsl(128 76% 90%)
$-clr-green-2: 128, 71%, 82%; //hsl(128 71% 82%)
$-clr-green-3: 129, 68%, 73%; //hsl(129 68% 73%)
$-clr-green-4: 130, 61%, 64%; //hsl(130 61% 64%)
$-clr-green-5: 130, 57%, 56%; //hsl(130 57% 56%)
$-clr-green-6: 131, 50%, 50%; //hsl(131 50% 50%)
$-clr-green-7: 131, 53%, 46%; //hsl(131 53% 46%)
$-clr-green-8: 131, 54%, 40%; //hsl(131 54% 40%)
$-clr-green-9: 132, 52%, 35%; //hsl(132 52% 35%)
$-clr-green-10: 132, 52%, 29%; //hsl(132 52% 29%)
$-clr-green-11: 132, 53%, 22%; //hsl(132 53% 22%)
$-clr-green-12: 131, 53%, 16%; //hsl(131 53% 16%)

$-clr-lime-0: 79, 81%, 94%; //hsl(79 81% 94%)
$-clr-lime-1: 80, 83%, 88%; //hsl(80 83% 88%)
$-clr-lime-2: 81, 81%, 80%; //hsl(81 81% 80%)
$-clr-lime-3: 82, 75%, 69%; //hsl(82 75% 69%)
$-clr-lime-4: 83, 73%, 59%; //hsl(83 73% 59%)
$-clr-lime-5: 84, 69%, 51%; //hsl(84 69% 51%)
$-clr-lime-6: 85, 74%, 45%; //hsl(85 74% 45%)
$-clr-lime-7: 85, 79%, 40%; //hsl(85 79% 40%)
$-clr-lime-8: 86, 84%, 36%; //hsl(86 84% 36%)
$-clr-lime-9: 85, 84%, 32%; //hsl(85 84% 32%)
$-clr-lime-10: 85, 83%, 26%; //hsl(85 83% 26%)
$-clr-lime-11: 85, 83%, 21%; //hsl(85 83% 21%)
$-clr-lime-12: 85, 84%, 15%; //hsl(85 84% 15%)

$-clr-yellow-0: 50, 100%, 93%; //hsl(50 100% 93%)
$-clr-yellow-1: 49, 100%, 87%; //hsl(49 100% 87%)
$-clr-yellow-2: 49, 100%, 80%; //hsl(49 100% 80%)
$-clr-yellow-3: 48, 100%, 70%; //hsl(48 100% 70%)
$-clr-yellow-4: 47, 100%, 62%; //hsl(47 100% 62%)
$-clr-yellow-5: 45, 97%, 54%; //hsl(45 97% 54%)
$-clr-yellow-6: 42, 96%, 50%; //hsl(42 96% 50%)
$-clr-yellow-7: 39, 100%, 48%; //hsl(39 100% 48%)
$-clr-yellow-8: 35, 100%, 47%; //hsl(35 100% 47%)
$-clr-yellow-9: 31, 100%, 45%; //hsl(31 100% 45%)
$-clr-yellow-10: 31, 100%, 35%; //hsl(31 100% 35%)
$-clr-yellow-11: 31, 100%, 25%; //hsl(31 100% 25%)
$-clr-yellow-12: 31, 100%, 20%; //hsl(31 200% 20%)

$-clr-orange-0: 34, 100%, 95%; //hsl(34 100% 95%)
$-clr-orange-1: 33, 100%, 90%; //hsl(33 100% 90%)
$-clr-orange-2: 33, 100%, 83%; //hsl(33 100% 83%)
$-clr-orange-3: 32, 100%, 74%; //hsl(32 100% 74%)
$-clr-orange-4: 31, 100%, 65%; //hsl(31 100% 65%)
$-clr-orange-5: 29, 100%, 58%; //hsl(29 100% 58%)
$-clr-orange-6: 27, 98%, 54%; //hsl(27 98% 54%)
$-clr-orange-7: 24, 94%, 50%; //hsl(24 94% 50%)
$-clr-orange-8: 21, 90%, 48%; //hsl(21 90% 48%)
$-clr-orange-9: 17, 87%, 45%; //hsl(17 87% 45%)
$-clr-orange-10: 17, 87%, 40%; //hsl(17 87% 40%)
$-clr-orange-11: 17, 87%, 32%; //hsl(17 87% 32%)
$-clr-orange-12: 17, 87%, 27%; //hsl(17 87% 27%)

$-clr-choco-0: 48, 100%, 93%; //hsl(48 100% 93%)
$-clr-choco-1: 35, 91%, 86%; //hsl(35 91% 86%)
$-clr-choco-2: 30, 85%, 79%; //hsl(30 85% 79%)
$-clr-choco-3: 27, 80%, 72%; //hsl(27 80% 72%)
$-clr-choco-4: 25, 75%, 65%; //hsl(25 75% 65%)
$-clr-choco-5: 25, 71%, 57%; //hsl(25 71% 57%)
$-clr-choco-6: 25, 70%, 49%; //hsl(25 70% 49%)
$-clr-choco-7: 25, 75%, 42%; //hsl(25 75% 42%)
$-clr-choco-8: 25, 75%, 37%; //hsl(25 75% 37%)
$-clr-choco-9: 25, 76%, 31%; //hsl(25 76% 31%)
$-clr-choco-10: 25, 71%, 26%; //hsl(25 71% 26%)
$-clr-choco-11: 25, 66%, 21%; //hsl(25 66% 21%)
$-clr-choco-12: 25, 65%, 15%; //hsl(25 65% 15%)

$-clr-brown-0: 36, 60%, 95%; //hsl(36 60% 95%)
$-clr-brown-1: 32, 44%, 87%; //hsl(32 44% 87%)
$-clr-brown-2: 28, 40%, 80%; //hsl(28 40% 80%)
$-clr-brown-3: 28, 38%, 72%; //hsl(28 38% 72%)
$-clr-brown-4: 27, 36%, 65%; //hsl(27 36% 65%)
$-clr-brown-5: 28, 34%, 57%; //hsl(28 34% 57%)
$-clr-brown-6: 28, 32%, 50%; //hsl(28 32% 50%)
$-clr-brown-7: 28, 35%, 43%; //hsl(28 35% 43%)
$-clr-brown-8: 28, 38%, 37%; //hsl(28 38% 37%)
$-clr-brown-9: 27, 42%, 31%; //hsl(27 42% 31%)
$-clr-brown-10: 25, 48%, 25%; //hsl(25 45% 25%)
$-clr-brown-11: 23, 58%, 19%; //hsl(23 58% 19%)
$-clr-brown-12: 22, 57%, 16%; //hsl(22 57% 16%)

$-clr-sand-0: 200, 27%, 98%; //hsl(200 27% 98%)
$-clr-sand-1: 48, 17%, 88%; //hsl(48 17% 88%)
$-clr-sand-2: 45, 22%, 79%; //hsl(45 22% 79%)
$-clr-sand-3: 44, 22%, 69%; //hsl(44 22% 69%)
$-clr-sand-4: 44, 17%, 62%; //hsl(44 17% 62%)
$-clr-sand-5: 44, 14%, 54%; //hsl(44 14% 54%)
$-clr-sand-6: 42, 14%, 46%; //hsl(42 14% 46%)
$-clr-sand-7: 43, 16%, 39%; //hsl(43 16% 39%)
$-clr-sand-8: 41, 15%, 32%; //hsl(41 15% 32%)
$-clr-sand-9: 43, 14%, 26%; //hsl(43 14% 26%)
$-clr-sand-10: 44, 11%, 20%; //hsl(44 11% 20%)
$-clr-sand-11: 60, 6%, 14%; //hsl(60 6% 14%)
$-clr-sand-12: 60, 6%, 7%; //hsl(60 6% 7%)

$-clr-camo-0: 66, 71%, 95%; //hsl(66 71% 95%)
$-clr-camo-1: 64, 69%, 77%; //hsl(64 69% 77%)
$-clr-camo-2: 65, 69%, 59%; //hsl(65 69% 59%)
$-clr-camo-3: 65, 61%, 51%; //hsl(65 61% 51%)
$-clr-camo-4: 63, 61%, 46%; //hsl(63 61% 46%)
$-clr-camo-5: 60, 62%, 41%; //hsl(60 62% 41%)
$-clr-camo-6: 59, 65%, 36%; //hsl(59 65% 36%)
$-clr-camo-7: 56, 67%, 33%; //hsl(56 67% 33%)
$-clr-camo-8: 54, 70%, 29%; //hsl(54 70% 29%)
$-clr-camo-9: 54, 69%, 25%; //hsl(54 69% 25%)
$-clr-camo-10: 53, 69%, 22%; //hsl(53 69% 22%)
$-clr-camo-11: 53, 69%, 18%; //hsl(53 69% 18%)
$-clr-camo-12: 52, 69%, 13%; //hsl(52 69% 13%)

$-clr-jungle-0: 74, 98%, 84%; //hsl(74 98% 84%)
$-clr-jungle-1: 74, 79%, 78%; //hsl(74 79% 78%)
$-clr-jungle-2: 74, 68%, 71%; //hsl(74 68% 71%)
$-clr-jungle-3: 75, 62%, 65%; //hsl(75 62% 65%)
$-clr-jungle-4: 74, 56%, 59%; //hsl(74 56% 59%)
$-clr-jungle-5: 74, 53%, 53%; //hsl(74 53% 53%)
$-clr-jungle-6: 74, 55%, 47%; //hsl(74 55% 47%)
$-clr-jungle-7: 74, 66%, 42%; //hsl(74 66% 42%)
$-clr-jungle-8: 74, 79%, 36%; //hsl(74 79% 36%)
$-clr-jungle-9: 73, 90%, 32%; //hsl(73 90% 32%)
$-clr-jungle-10: 73, 91%, 26%; //hsl(73 91% 26%)
$-clr-jungle-11: 73, 91%, 21%; //hsl(73 91% 21%)
$-clr-jungle-12: 73, 90%, 16%; //hsl(73 90% 16%)

$colors: (
  'neutral': (
    '0': $-clr-gray-0,
    '1': $-clr-gray-1,
    '2': $-clr-gray-2,
    '3': $-clr-gray-3,
    '4': $-clr-gray-4,
    '5': $-clr-gray-5,
    '6': $-clr-gray-6,
    '7': $-clr-gray-7,
    '8': $-clr-gray-8,
    '9': $-clr-gray-9,
    '10': $-clr-gray-10,
    '11': $-clr-gray-11,
    '12': $-clr-gray-12,
  ),
  'accent': (
    '0': $-clr-pink-0,
    '1': $-clr-pink-1,
    '2': $-clr-pink-2,
    '3': $-clr-pink-3,
    '4': $-clr-pink-4,
    '5': $-clr-pink-5,
    '6': $-clr-pink-6,
    '7': $-clr-pink-7,
    '8': $-clr-pink-8,
    '9': $-clr-pink-9,
    '10': $-clr-pink-10,
    '11': $-clr-pink-11,
    '12': $-clr-pink-12,
  ),
  'primary': (
    '0': $-clr-blue-0,
    '1': $-clr-blue-1,
    '2': $-clr-blue-2,
    '3': $-clr-blue-3,
    '4': $-clr-blue-4,
    '5': $-clr-blue-5,
    '6': $-clr-blue-6,
    '7': $-clr-blue-7,
    '8': $-clr-blue-8,
    '9': $-clr-blue-9,
    '10': $-clr-blue-10,
    '11': $-clr-blue-11,
    '12': $-clr-blue-12,
  ),
  'error': (
    '2': $-clr-red-2,
    '3': $-clr-red-3,
    '6': $-clr-red-6,
  ),
  'indigo': (
    '3': $-clr-indigo-3,
    '5': $-clr-indigo-5,
    '7': $-clr-indigo-7,
  ),
  'purple': (
    '3': $-clr-purple-3,
    '7': $-clr-purple-7,
  ),
);
