/* ////////////////////////////// */
/* Global tokens */

:where(html) {
  color-scheme: light;
  /* Surface colors */
  --accent: var(--accent-5);

  /* Surface colors */
  --surface-1: var(--neutral-0);
  --surface-2: var(--neutral-2);
  --surface-3: var(--neutral-3);
  --surface-4: var(--neutral-4);

  /* Text color */
  --text-1: var(--neutral-9);
  --text-2: var(--neutral-7);

  /* Link colors */
  --link: var(--indigo-7);
  --link-hover: var(--indigo-5);
  --link-visited: var(--purple-7);

  /* Shadow */
  --shadow-color: 220 3% 15%;
  --shadow-strength: 1%;

  /* Scroll color */
  --scroll-thumb-color: var(--neutral-7);

  /* Layout */
  --grid-gap: $size-6;
  --flex-group-gap: $size-4;
  --min-column-width: $size-relative-14;

  /* Sections */
  --section-padding-block: clamp(8rem, 10vh, 9.6rem);

  /* Default colors */
  --color-bg-default: var(--surface-1);
  --color-text-default: var(--text-2);

  /* Highlight */
  --highlight-size: 10px;
  --highlight-color: hsl(0 0% 0% / 20%);

  --highlight: 0 0 0 var(--highlight-size) var(--highlight-color);

  @media (--OSdark) {
    color-scheme: dark;

    /* Surface colors */
    --surface-1: var(--neutral-9);
    --surface-2: var(--neutral-8);
    --surface-3: var(--neutral-7);
    --surface-4: var(--neutral-6);

    --highlight-color: hsl(0 0% 100% / 20%);

    /* Link colors */
    --link: var(--indigo-3);
    --link-hover: var(--indigo-5);
    --link-visited: var(--purple-3);

    /* Text color */
    --text-1: var(--neutral-1);
    --text-2: var(--neutral-4);

    /* Scroll color */
    --scroll-thumb-color: var(--neutral-6);

    /* Shadow */
    --shadow-color: 220 40% 2%;
    --shadow-strength: 10%;
  }
}

@media (--HDcolor) {
  @supports (color: color(display-p3 0 0 0)) {
    body {
      --link: color(display-p3 0.1 0.4 1);
      --link-visited: color(display-p3 0.6 0.2 1);
    }
  }
}

/*
// //////////////////////////////
// // LAYOUT

// ///// <<< FlEX AND GRIDS >>> /////


// ///// <<< SECTIONS >>> /////
// 
// $hero-padding-block: clamp(24rem, 15vh, 32rem);



// // --> Text
// $footer-text-font-family: $body-font-family;
// $footer-text-font-weight: $body-font-weight;
// $footer-text-font-size: $body-font-size;
// $footer-text-color: $color-primary-300;
// // --> Links
// $footer-link-font-family: $heading-font-family;
// $footer-link-font-weight: var(--fw-bold);
// $footer-link-color: $color-neutral-100;
// $footer-link-color-hover: $color-accent-300;
// $footer-link-text-decoration: none;

// //////////////////////////////
// // COMPONENTS



// ///// <<< NAVIGATION >>> /////
// // -> Spacing
// $nav-spacing: var(--size-9);
// // -> Decoration
// $nav-color: $site-header-color;
// $nav-color-hover: $link-color-hover;
// // -> Text
// $nav-font-family: var(--ff-accent);
// $nav-font-size: var(--fs-400);
// $nav-font-weight: var(--fw-bold);
// $nav-link-text-decoration: none;

// ///// <<< CARDS >>> /////
// // -> Spacing
// $card-flow-spacing: var(--size-2);
// $card-body-padding: var(--size-8);
// $card-padding: var(--size-8);
// // -> Decoration
// $card-background-default: $color-primary-500;
// $card-border-radius: var(--radius-2);
// $card-box-shadow: var(--shadow-1);
// // -> Text
// $card-font-family: $body-font-family;
// $card-color-default: $color-primary-700;
// $card-line-height: 1.25;

// $card-heading-font-size: var(--fs-600);
// $card-heading-color-default: $card-color-default;

// ///// <<< DIALOG >>> /////
// // -> Spacing
// $dialog-max-inline-size: 60ch;
// $dialog-flow-spacing: var(--size-2);
// $dialog-body-padding: var(--size-8);
// $dialog-padding: var(--size-8);
// // -> Decoration
// $dialog-background-default: $color-primary-100;
// $dialog-border-radius: var(--radius-2);
// $dialog-box-shadow: var(--shadow-1);
// // -> Text
// $dialog-font-family: $body-font-family;
// $dialog-color-default: $body-text-color;
// $dialog-line-height: 1.25;

// $dialog-heading-font-size: var(--fs-600);
// $dialog-heading-color-default: $card-color-default;

// ///// <<< FORMS >>> /////
// ///// Labels /////
// // -> Spacing
// // -> Decoration
// // -> Text
// $form-label-font-family: $body-font-family;
// $form-label-font-size: $body-font-size;
// $form-label-font-weight: var(--fw-semi-bold);
// $form-label-color: $body-text-color;

// ///// Inputs /////
// // -> Spacing
// $form-group-spacing: 0.5rem;
// $form-input-padding: var(--size-3);
// // -> Decoration
// $form-input-background-color: $color-neutral-100;
// $form-input-border-default: 3px solid $color-primary-200;
// $form-input-border-radius: var(--radius-1);
// $form-input-border-focus: 3px solid $color-primary-400;
// // -> Text
// $form-input-font-family: var(--ff-base);
// $form-input-font-size: $body-font-size;
// $form-input-font-weight: var(--fw-semi-bold);
// $form-input-color: $body-text-color;

// ///// Placeholders /////
// // -> Text
// $form-placeholder-font-family: $form-input-font-family;
// $form-placeholder-font-size: $body-font-size;
// $form-placeholder-font-weight: $form-input-font-weight;
// $form-placeholder-color: $color-primary-300;
 */
