@use './sizes' as *;
@use './colors' as *;

//////////////////////////////
//  Global tokens

:where(html) {
  /* ///// Common tokens ///// */
  /* Layout */
  --grid-gap: #{$size-6};
  --grid-min-column: #{$size-relative-14};
  --flex-group-gap: #{$size-5};

  /* Sections */
  --section-padding-block: clamp(8rem, 10vh, 9.6rem);

  /* ///// Light theme ///// */
  --accent-hue: #{$accent-hue};
  --accent-chroma: #{$accent-chroma};
  --accent-lightness: #{$accent-lightness};

  --primary-hue: #{$primary-hue};
  --primary-chroma: #{$primary-chroma};
  --primary-lightness: #{$primary-lightness};

  --accent-light: oklch(
    var(--accent-lightness) var(--accent-chroma) var(--accent-hue)
  );

  --primary-light: oklch(
    var(--primary-lightness) var(--primary-chroma) var(--primary-hue)
  );

  /* Surface colors */
  --surface-1-light: oklch(98% 0.001 var(--accent-hue));
  --surface-2-light: oklch(94% 0.005 var(--accent-hue));
  --surface-3-light: oklch(91% 0.007 var(--accent-hue));
  --surface-4-light: oklch(87% 0.01 var(--accent-hue));

  /* Error colors */
  --error-1-light: var(--error-6);
  --error-2-light: var(--error-7);

  /* Text color */
  --text-1-light: oklch(24% 0.05 var(--accent-hue));
  --text-2-light: oklch(43% 0.045 var(--accent-hue));

  /* Link colors */
  --link-light: var(--link-7);
  --link-hover-light: var(--link-5);
  --link-visited-light: var(--link-bright);

  /* Scroll color */
  --scroll-thumb-light: var(--neutral-7);

  /* ///// Dark theme ///// */
  --accent-dark: oklch(
    calc(var(--accent-lightness) / 1.5) calc(var(--accent-chroma) / 1.5)
      var(--accent-hue)
  );

  --primary-dark: oklch(
    calc(var(--primary-lightness) / 1.5) calc(var(--primary-chroma) / 1.5)
      var(--primary-hue)
  );

  /* Surface colors */
  --surface-1-dark: oklch(27% 0.01 var(--accent-hue));
  --surface-2-dark: oklch(35% 0.012 var(--accent-hue));
  --surface-3-dark: oklch(43% 0.014 var(--accent-hue));
  --surface-4-dark: oklch(65% 0.014 var(--accent-hue));

  /* Error colors */
  --error-1-dark: var(--surface-3-dark);
  --error-2-dark: var(--error-3);

  /* Text color */
  --text-1-dark: oklch(89% 0.01 var(--accent-hue));
  --text-2-dark: oklch(73% 0.008 var(--accent-hue));

  /* Link colors */
  --link-dark: var(--link-3);
  --link-hover-dark: var(--link-5);
  --link-visited-dark: var(--link-bright);

  /* Scroll color */
  --scroll-thumb-dark: var(--neutral-6);

  /* ///// Dim theme ///// */
  --accent-dim: oklch(
    calc(var(--accent-lightness) / 1.25) calc(var(--accent-chroma) / 1.25)
      var(--accent-hue)
  );

  --primary-dim: oklch(
    calc(var(--primary-lightness) / 1.25) calc(var(--primary-chroma) / 1.25)
      var(--primary-hue)
  );

  /* Surface colors */
  --surface-1-dim: oklch(32% 0.011 var(--accent-hue));
  --surface-2-dim: oklch(37% 0.013 var(--accent-hue));
  --surface-3-dim: oklch(42% 0.008 var(--accent-hue));
  --surface-4-dim: oklch(47% 0.009 var(--accent-hue));

  /* Error colors */
  --error-1-dim: var(--surface-3-dim);
  --error-2-dim: var(--error-3);

  /* Text color */
  --text-1-dim: oklch(81% 0.017 var(--accent-hue));
  --text-2-dim: oklch(69% 0.018 var(--accent-hue));

  /* Link colors */
  --link-dim: var(--link-3);
  --link-hover-dim: var(--link-5);
  --link-visited-dim: var(--link-bright);

  /* Scroll color */
  --scroll-thumb-dim: var(--neutral-5);
}

:root {
  color-scheme: light;

  /* ///// Set defaults ///// */
  --accent: var(--accent-light);
  --primary: var(--primary-light);

  /* Surface colors */
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);

  /* Error colors */
  --error-1: var(--error-1-light);
  --error-2: var(--error-2-light);

  /* Text color */
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);

  /* Default colors */
  --color-bg-default: var(--surface-1);
  --color-text-default: var(--text-2);

  /* Link colors */
  --link: var(--link-light);
  --link-hover: var(--link-hover-light);
  --link-visited: var(--link-visited-light);

  /* Scroll color */
  --scroll-thumb-color: var(--scroll-thumb-light);

  /* Highlight */
  --highlight-size: 10px;
  --highlight-color: hsl(0 0% 0% / 20%);

  --highlight: 0 0 0 var(--highlight-size) var(--highlight-color);

  @media (--OSdark) {
    color-scheme: dark;

    --accent: var(--accent-dark);
    --primary: var(--primary-dark);

    /* Surface colors */
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);

    /* Error colors */
    --error-1: var(--error-1-dark);
    --error-2: var(--error-2-dark);

    /* Text color */
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);

    /* Link colors */
    --link: var(--link-dark);
    --link-hover: var(--link-hover-dark);
    --link-visited: var(--link-visited-dark);

    --highlight-color: oklch(100% 0 0 / 20%);

    /* Scroll color */
    --scroll-thumb-color: var(--scroll-thumb-dark);
  }
}

@media (--HDcolor) {
  @supports (color: color(display-p3 0 0 0)) {
    body {
      --link: color(display-p3 0.1 0.4 1);
      --link-visited: color(display-p3 0.6 0.2 1);
    }
  }
}
