@use '../abstracts' as *;

.border-radius-1 {
  border-radius: $radius-1;
}

.border-radius-2 {
  border-radius: $radius-2;
}

.border-radius-3 {
  border-radius: $radius-3;
}

.border-radius-4 {
  border-radius: $radius-4;
}

.border-radius-5 {
  border-radius: $radius-5;
}

.border-radius-6 {
  border-radius: $radius-6;
}

.border-radius-round {
  border-radius: $radius-round;
}
