/* Let's suppose you cannot modify the background property
and you cannot use pseudo-elements */

.overlay {
  border-image: linear-gradient(hsl(240 100% 20% / 0.6) hsl(0 100% 20% / 0.6))
    fill 1;
}
