/* @import 'colors-open-props'; */
html {
  color-scheme: light dark;

  --accent: var(--brand);

  --link: light-dark(var(--indigo-7), var(--indigo-3));
  --link-hover: light-dark(var(--indigo-6), var(--indigo-2));
  --link-visited: light-dark(var(--purple-7), var(--purple-3));

  --text-1: light-dark(var(--gray-12), var(--gray-0));
  --text-2: light-dark(var(--gray-7), var(--gray-4));

  --surface-1: light-dark(var(--gray-0), var(--gray-9));
  --surface-2: light-dark(var(--gray-2), var(--gray-8));
  --surface-3: light-dark(var(--gray-3), var(--gray-7));
  --surface-4: light-dark(var(--gray-4), var(--gray-6));

  --scrollthumb-color: light-dark(var(--gray-7), var(--gray-6));

  /* Overlay color */
  --overlay-backdrop-bgColor: hsla(210 20% 82% / 0.4);

  @media (--HDcolor) {
    @supports (color: color(display-p3 0 0 0)) {
      --link: color(display-p3 0.1 0.39 1);
      --link-visited: color(display-p3 0.6 0.2 1);
    }
  }

  & button,
  .btn {
    --_bg: light-dark(var(--_bg-light), var(--_bg-dark));
    --_ink-shadow: light-dark(
      var(--_ink-shadow-light),
      var(--_ink-shadow-dark)
    );

    & [type='reset'] {
      --_text: light-dark(var(--red-6), var(--red-2));
      --_border: light-dark(var(--red-3), var(--surface-3));
    }
  }

  & button,
  .btn,
  input:is([type='button'], [type='submit'], [type='reset'])
    [disabled] {
    --_text: light-dark(var(--gray-6), var(--gray-5));
  }

  & textarea,
  select,
  input:not([type='button'], [type='submit'], [type='reset']) {
    background-color: light-dark(
      var(--surface-2),
      hsl(210deg 11% 10%)
    );
  }
}
