:where(html) {
  /***********************/
  /* --- Light theme --- */
  --accent-light: var(--orange-6);

  color: rgba(255, 128, 200, 0.4);

  /* Surface colors */
  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-1);
  --surface-3-light: var(--gray-2);
  --surface-4-light: var(--gray-3);

  /* Success colors*/
  --success-1-light: var(--green-5);
  --success-2-light: var(--green-6);

  /* Error colors */
  --error-1-light: var(--red-6);
  --error-2-light: var(--red-7);

  /* Text color */
  --text-1-light: var(--gray-8);
  --text-2-light: var(--gray-7);

  /* Link colors */
  --link-light: var(--indigo-7);
  --link-hover-light: var(--indigo-5);
  --link-visited-light: var(--indigo-bright);

  /* Shadow*/
  --surface-shadow-light: var(--gray-8);
  --shadow-strength-light: 2%;

  /* Scroll color */
  --scroll-thumb-light: var(--gray-7);

  /***********************/
  /* --- Dark theme --- */
  --accent-dark: var(--orange-3);

  /* Surface colors */
  --surface-1-dark: var(--gray-12);
  --surface-2-dark: var(--gray-11);
  --surface-3-dark: var(--gray-10);
  --surface-4-dark: var(--gray-9);

  /* Success colors*/
  --success-1-dark: var(--green-9);
  --success-2-dark: var(--green-10);

  /* Error colors */
  --error-1-dark: var(--red-9);
  --error-2-dark: var(--red-10);

  /* Text color */
  --text-1-dark: var(--gray-3);
  --text-2-dark: var(--gray-5);

  /* Link colors */
  --link-dark: var(--indigo-3);
  --link-hover-dark: var(--indigo-5);
  --link-visited-dark: var(--indigo-bright);

  /* Shadow */
  --surface-shadow-dark: var(--gray-12);
  --shadow-strength-dark: 80%;

  /* Scroll color */
  --scroll-thumb-dark: var(--gray-6);

  /***********************/
  /* --- Dim theme --- */
  --accent-dim: var(--orange-4);

 /* Surface colors */
  --surface-1-dim: var(--gray-8);
  --surface-2-dim: var(--gray-7);
  --surface-3-dim: var(--gray-6);
  --surface-4-dim: var(--gray-5);

  /* Success colors*/
  --success-1-dim: var(--green-11);
  --success-2-dim: var(--green-12);

  /* Error colors */
  --error-1-dim: var(--red-11);
  --error-2-dim: var(--red-12);

  /* Text color */
  --text-1-dim: var(--gray-3);
  --text-2-dim: var(--gray-4);

  /* Link colors */
  --link-dim: var(--indigo-3);
  --link-hover-dim: var(--indigo-5);
  --link-visited-dim: var(--indigo-bright);

  /* Shadow */
  --surface-shadow-dim: var(--gray-9);
  --shadow-strength-dim: 20%;

  /* Scroll color */
  --scroll-thumb-dim: var(--gray-5);
}

:root {
  color-scheme: light;

  /* --- Set defaults --- */
  --accent: var(--accent-light);

  /* Surface colors */
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);

  /* Success colors */
  --success-1: var(--success-1-light);
  --success-2: var(--success-2-light);

  /* Error colors */
  --error-1: var(--error-1-light);
  --error-2: var(--error-2-light);

  /* Text color */
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);

  /* Link colors */
  --link: var(--link-light);
  --link-hover: var(--link-hover-light);
  --link-visited: var(--link-visited-light);

  /* Scroll color */
  --scroll-thumb-color: var(--scroll-thumb-light);

  /* Highlight */
  --highlight-size: 10px;
  --highlight-color: hsl(0 0% 0% / 20%);

  --highlight: 0 0 0 var(--highlight-size) var(--highlight-color);

  @media (--OSdark) {
    color-scheme: dark;

    --accent: var(--accent-dark);

    /* Surface colors */
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);

    /* Success colors */
    --success-1: var(--success-1-dark);
    --success-2: var(--success-2-dark);

    /* Error colors */
    --error-1: var(--error-1-dark);
    --error-2: var(--error-2-dark);

    /* Text color */
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);

    /* Link colors */
    --link: var(--link-dark);
    --link-hover: var(--link-hover-dark);
    --link-visited: var(--link-visited-dark);

    --highlight-color: oklch(100% 0 0 / 20%);

    /* Scroll color */
    --scroll-thumb-color: var(--scroll-thumb-dark);
  }
}

@media (--HDcolor) {
  @supports (color: color(display-p3 0 0 0)) {
    body {
      --link: color(display-p3 0.1 0.4 1);
      --link-visited: color(display-p3 0.6 0.2 1);
    }
  }
}
