@use './sizes' as *;

//////////////////////////////
//  Global tokens

:where(html) {
  /* Brand foundation */
  --accent-hue: 200;
  --accent-saturation: 100%;
  --accent-lightness: 50%;

  --accent: hsl(
    var(--accent-hue),
    var(--accent-saturation),
    var(--accent-lightness)
  );

  --primary-hue: 300;
  --primary-saturation: 60%;
  --primary-lightness: 50%;

  --primary: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness)
  );

  /* ///// Common tokens ///// */
  /* Layout */
  --grid-gap: #{$size-6};
  --grid-min-column: #{$size-relative-14};
  --flex-group-gap: #{$size-5};

  /* Sections */
  --section-padding-block: clamp(8rem, 10vh, 9.6rem);

  /* ///// Light theme ///// */
  --accent-light: hsl(
    var(--accent-hue) var(--accent-saturation) var(--accent-lightness)
  );

  /* Surface colors */
  --surface-1-light: hsl(var(--accent-hue) 17% 98%);
  --surface-2-light: hsl(var(--accent-hue) 16% 93%);
  --surface-3-light: hsl(var(--accent-hue) 14% 89%);
  --surface-4-light: hsl(var(--accent-hue) 14% 83%);

  /* Error colors */
  --error-1-light: var(--error-3);
  --error-2-light: var(--error-6);

  /* Text color */
  --text-1-light: hsl(var(--accent-hue) var(--accent-saturation) 10%);
  --text-2-light: hsl(var(--accent-hue) 30% 30%);

  /* Link colors */
  --link-light: var(--indigo-7);
  --link-hover-light: var(--indigo-5);
  --link-visited-light: var(--purple-7);

  /* Shadow */
  --shadow-color-light: var(--accent-hue) 10% 20%;
  --shadow-strength-light: 1%;

  /* Scroll color */
  --scroll-thumb-light: var(--neutral-7);

  /* ///// Dark theme ///// */
  --accent-dark: hsl(
    var(--accent-hue) calc(var(--accent-saturation) / 1.5)
      calc(var(--accent-lightness) / 1.5)
  );

  /* Surface colors */
  --surface-1-dark: hsl(var(--accent-hue) 11% 15%);
  --surface-2-dark: hsl(var(--accent-hue) 10% 23%);
  --surface-3-dark: hsl(var(--accent-hue) 9% 31%);
  --surface-4-dark: hsl(var(--accent-hue) 7% 56%);

  /* Error colors */
  --error-1-dark: var(--surface-3-dark);
  --error-2-dark: var(--error-2);

  /* Text color */
  --text-1-dark: hsl(var(--accent-hue) 15% 85%);
  --text-2-dark: hsl(var(--accent-hue) 5% 65%);

  /* Link colors */
  --link-dark: var(--indigo-3);
  --link-hover-dark: var(--indigo-5);
  --link-visited-dark: var(--purple-3);

  /* Shadow */
  --shadow-color-dark: var(--accent-hue) 50% 3%;
  --shadow-strength-dark: 10%;

  /* Scroll color */
  --scroll-thumb-dark: var(--neutral-6);

  /* ///// Dim theme ///// */
  --accent-dim: hsl(
    var(--accent-hue) calc(var(--accent-saturation) / 1.25)
      calc(var(--accent-lightness) / 1.25)
  );

  /* Surface colors */
  --surface-1-dim: hsl(var(--accent-hue) 10% 20%);
  --surface-2-dim: hsl(var(--accent-hue) 10% 25%);
  --surface-3-dim: hsl(var(--accent-hue) 5% 30%);
  --surface-4-dim: hsl(var(--accent-hue) 5% 35%);

  /* Error colors */
  --error-1-dim: var(--surface-3-dim);
  --error-2-dim: var(--error-2);

  /* Text color */
  --text-1-dim: hsl(var(--accent-hue) 15% 75%);
  --text-2-dim: hsl(var(--accent-hue) 10% 61%);

  /* Link colors */
  --link-dim: var(--indigo-3);
  --link-hover-dim: var(--indigo-5);
  --link-visited-dim: var(--purple-3);

  /* Shadow */
  --shadow-color-dim: var(--accent-hue) 30% 13%;
  --shadow-strength-dim: 10%;

  /* Scroll color */
  --scroll-thumb-dim: var(--neutral-5);
}

:root {
  color-scheme: light;

  /* ///// Set defaults ///// */
  --accent: var(--accent-light);

  /* Surface colors */
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);

  /* Error colors */
  --error-1: var(--error-1-light);
  --error-2: var(--error-2-light);

  /* Text color */
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);

  /* Default colors */
  --color-bg-default: var(--surface-1);
  --color-text-default: var(--text-2);

  /* Link colors */
  --link: var(--link-light);
  --link-hover: var(--link-hover-light);
  --link-visited: var(--link-visited-light);

  /* Shadow */
  --shadow-color: var(--shadow-color-light);
  --shadow-strength: var(--shadow-strength-light);

  /* Scroll color */
  --scroll-thumb-color: var(--scroll-thumb-light);

  /* Highlight */
  --highlight-size: 10px;
  --highlight-color: hsl(0 0% 0% / 20%);

  --highlight: 0 0 0 var(--highlight-size) var(--highlight-color);

  @media (--OSdark) {
    color-scheme: dark;

    --accent: var(--accent-dark);

    /* Surface colors */
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);

    /* Error colors */
    --error-1: var(--error-1-dark);
    --error-2: var(--error-2-dark);

    /* Text color */
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);

    /* Link colors */
    --link: var(--link-dark);
    --link-hover: var(--link-hover-dark);
    --link-visited: var(--link-visited-dark);

    /* Shadow */
    --shadow-color: var(--shadow-color-dark);
    --shadow-strength: var(--shadow-strength-dark);

    --highlight-color: hsl(0 0% 100% / 20%);

    /* Scroll color */
    --scroll-thumb-color: var(--scroll-thumb-dark);
  }
}

@media (--HDcolor) {
  @supports (color: color(display-p3 0 0 0)) {
    body {
      --link: color(display-p3 0.1 0.4 1);
      --link-visited: color(display-p3 0.6 0.2 1);
    }
  }
}
