---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
import Tabs from '../components/Tabs.astro';
---

<Layout title='Welcome to Astro.'>
  <Hero />

  <section class='page-content'>
    <div class='container'>
      <h2 class="heading-2">Get Started With Astro</h2>
      <p>
        Get a new Astro project up and running locally with our helpful
        create-astro CLI wizard!
      </p>
      <!-- Tabs with dynamic content -->
      <Tabs
        headings={['NPM', 'PNPM', 'YARN']}
        contents={[
          '$ npm create astro@latest',
          '$ pnpm create astro@latest',
          '$ yarn create astro',
        ]}
      />
    </div>
  </section>

	<!-- Lenis library for a smooth scrolling -->
	<script
		is:inline
		src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.22/bundled/lenis.min.js">
	</script> 

  <script>
    import '../scripts/main.js';
  </script>
</Layout>
