:root {
  color-scheme: light dark;

  /* Base */
  --bgColor-default: light-dark(
    var(--base-color-neutral-0),
    var(--base-color-neutral-1)
  );

  --bgColor-muted: light-dark(
    var(--base-color-neutral-1),
    var(--base-color-neutral-2)
  );

  --bgColor-inset: light-dark(
    var(--bgColor-accent-muted),
    var(--base-color-neutral-0)
  );

  --bgColor-disabled: light-dark(
    var(--base-color-neutral-2),
    var(--base-color-neutral-3)
  );

  --bgColor-emphasis: light-dark(
    var(--base-color-neutral-12),
    var(--base-color-neutral-7)
  );

  --bgColor-transparent: var(--base-color-transparent);

  --bgColor-inverse: light-dark(
    var(--base-color-neutral-12),
    var(--base-color-neutral-13)
  );

  --bgColor-black: light-dark(
    var(--base-color-neutral-13),
    var(--base-color-neutral-0)
  );

  --bgColor-white: light-dark(
    var(--base-color-neutral-0),
    var(--base-color-neutral-13)
  );

  /* Neutral */
  --bgColor-neutral-emphasis: light-dark(
    var(--base-color-neutral-9),
    var(--base-color-neutral-8)
  );
  --bgColor-neutral-muted: light-dark(#818b981f, #656c7633);

  /* Accent */
  --bgColor-accent-emphasis: var(--base-color-blue-5);
  --bgColor-accent-muted: light-dark(
    var(--base-color-blue-0),
    #388bfd1a
  );

  /* Brand */
  --bgColor-brand-emphasis: var(--bgColor-accent-emphasis);
  --bgColor-brand-muted: var(--bgColor-accent-muted);

  /* Attention */
  --bgColor-attention-emphasis: var(--base-color-yellow-5);
  --bgColor-attention-muted: light-dark(
    var(--base-color-yellow-0),
    #bb800926
  );

  /* Danger & Close */
  --bgColor-danger-emphasis: var(--base-color-red-5);
  --bgColor-danger-muted: light-dark(
    var(--base-color-red-0),
    #f851491a
  );
  --bgColor-closed-emphasis: var(--bgColor-danger-emphasis);
  --bgColor-closed-muted: var(--bgColor-danger-muted);

  /* Done & Upsell*/
  --bgColor-done-emphasis: var(--base-color-purple-5);
  --bgColor-done-mute: light-dark(
    var(--base-color-purple-0),
    #ab7df826
  );
  --bgColor-upsell-emphasis: var(--bgColor-done-emphasis);
  --bgColor-upsell-muted: var(--bgColor-done-mute);

  /* Success & Open*/
  --bgColor-success-emphasis: light-dark(
    #1f883d,
    var(--base-color-green-5)
  );
  --bgColor-success-muted: light-dark(
    var(--base-color-green-0),
    #2ea04326
  );
  --bgColor-open-emphasis: var(--bgColor-success-emphasis);
  --bgColor-open-muted: var(--bgColor-success-muted);

  /* Severe */
  --bgColor-severe-emphasis: var(--base-color-orange-5);
  --bgColor-severe-muted: light-dark(
    var(--base-color-orange-0),
    #db6d281a
  );
}
