:root {
  color-scheme: light dark;

  --borderColor-default: light-dark(
    var(--base-color-neutral-6),
    var(--base-color-neutral-7)
  );

  --borderColor-muted: light-dark(#d1d9e0b3, #3d444db3);
  --borderColor-emphasis: var(--base-color-neutral-8);
  --borderColor-disabled: light-dark(#818b981a, #656c761a);
  --borderColor-transparent: var(--base-color-transparent);
  --borderColor-translucent: light-dark(#1f232826, #ffffff26);

  /* Neutral */
  --borderColor-neutral-emphasis: light-dark(
    var(--base-color-neutral-9),
    var(--borderColor-emphasis)
  );
  --borderColor-neutral-muted: light-dark(var(--borderColor-muted));

  /* Accent */
  --borderColor-accent-emphasis: var(--base-color-blue-5);
  --borderColor-accent-muted: light-dark(#54aeff66, #388bfd66);

  /* Brand */
  --borderColor-brand-emphasis: var(--brand-color);
  --borderColor-brand-muted: var(--brand-color-muted);

  /* Attention */
  --borderColor-attention-emphasis: var(--base-color-yellow-5);
  --borderColor-attention-muted: light-dark(#d4a72c66, #bb800966);

  /* Danger & Closed */
  --borderColor-danger-emphasis: var(--base-color-red-5);
  --borderColor-danger-muted: light-dark(#FF818266, #F8514966)
  --borderColor-closed-emphasis: var(--borderColor-danger-emphasis);
  --borderColor-closed-muted: var(--borderColor-danger-muted);

  /* Done & Upsell */
  --borderColor-done-emphasis: var(--base-color-purple-5);
  --borderColor-done-muted: light-dark(#C297FF66, #AB7DF866);
  --borderColor-upsell-emphasis: var(--borderColor-done-emphasis);
  --borderColor-upsell-muted: var(--borderColor-done-muted);

  /* Success & Open */
  --borderColor-success-emphasis: var(--base-color-green-5);
  --borderColor-success-muted: light-dark(#4AC26B66, #2EA04366);
  --borderColor-open-emphasis: var(--borderColor-success-emphasis);
  --borderColor-open-muted: var(--borderColor-success-muted);

  /* Severe */
  --borderColor-severe-emphasis: var(--base-color-orange-5);
  --borderColor-severe-muted: light-dark(#FB8F4466, #DB6D2866);
}
