:where(html) {
  color-scheme: light dark;
  /* Background colors */
  --control-bgColor-rest: light-dark(
    var(--base-color-neutral-1),
    var(--base-color-neutral-3)
  );
  --control-bgColor-hover: light-dark(
    var(--base-color-neutral-2),
    var(--base-color-neutral-4)
  );
  --control-bgColor-active: light-dark(
    var(--base-color-neutral-3),
    var(--base-color-neutral-5)
  );
  --control-bgColor-selected: var(--control-bgColor-rest);
  --control-bgColor-disabled: var(--bgColor-disabled);

  /* Foreground colors */
  --control-fgColor-rest: light-dark(
    var(--base-color-neutral-12),
    var(--fgColor-default)
  );
  --control-fgColor-placeholder: var(--fgColor-muted);
  --control-fgColor-disabled: var(--fgColor-disabled);

  /* Border colors */
  --control-borderColor-rest: var(--borderColor-default);
  --control-borderColor-selected: light-dark(
    var(--control-bgColor-selected),
    var(--base-color-neutral-12)
  );
  --control-borderColor-emphasis: var(--borderColor-emphasis);
  --control-borderColor-disabled: var(--borderColor-disabled);
  --control-borderColor-success: var(--borderColor-success-emphasis);
  --control-borderColor-danger: var(--borderColor-danger-emphasis);
  --control-borderColor-warning: var(
    --borderColor-attention-emphasis
  );

  /* Icon color */
  --control-iconColor-rest: var(--fgColor-muted);

  /* --- Checked ---*/
  /* Background */
  --control-checked-bgColor-rest: var(--bgColor-accent-emphasis);
  --control-checked-bgColor-hover: light-dark(#0860ca, #2a7aef);
  --control-checked-bgColor-active: light-dark(#0757ba, #3685f3);
  --control-checked-bgColor-disabled: var(--fgColor-disabled);

  /* Foreground */
  --control-checked-fgColor-rest: var(--fgColor-onEmphasis);
  --control-checked-fgColor-disabled: light-dark(
    var(--fgColor-onEmphasis),
    #010409
  );

  /* Border */
  --control-checked-borderColor-rest: var(
    --control-checked-bgColor-rest
  );
  --control-checked-borderColor-hover: var(
    --control-checked-bgColor-hover
  );
  --control-checked-borderColor-active: var(
    --control-checked-bgColor-active
  );
  --control-checked-borderColor-disabled: var(
    --control-checked-bgColor-disabled
  );

  /* --- Danger --- */
  /* Background */
  --control-danger-bgColor-active: light-dark(#ffebe966, #f8514966);
  --control-danger-bgColor-hover: var(--bgColor-danger-muted);

  /* Foreground */
  --control-danger-fgColor-hover: light-dark(
    var(--fgColor-danger),
    var(--base-color-red-3)
  );
  --control-danger-fgColor-rest: var(--fgColor-danger);

  /* --- Transparent --- */
  /* Background */
  --control-transparent-bgColor-rest: var(--base-color-transparent);
  --control-transparent-bgColor-hover: light-dark(
    #818b9819,
    #656c7633
  );
  --control-transparent-bgColor-active: light-dark(
    #818b9825,
    #656c7640
  );
  --control-transparent-bgColor-selected: light-dark(
    #818b9825,
    #656c7619
  );
  --control-transparent-bgColor-disabled: var(--bgColor-disabled);

  /* Border */
  --control-transparent-borderColor-rest: var(
    --base-color-transparent
  );
  --control-transparent-borderColor-hover: var(
    --base-color-transparent
  );
  --control-transparent-borderColor-active: var(
    --base-color-transparent
  );
}
