:root {
  color-scheme: light dark;

  --fgColor-default: light-dark(
    var(--base-color-neutral-13),
    var(--base-color-neutral-12)
  );
  --fgColor-muted: var(--base-color-neutral-9);
  --fgColor-link: var(--fgColor-accent);
  --fgColor-disabled: light-dark(
    var(--base-color-neutral-8),
    #656c7699
  );
  --fgColor-onEmphasis: light-dark(
    var(--base-color-neutral-0),
    var(--base-color-neutral-13)
  );
  --fgColor-neutral: var(--base-color-neutral-9);
  --fgColor-black: light-dark(
    var(--base-color-neutral-13),
    var(--base-color-neutral-0)
  );
  --fgColor-white: light-dark(
    var(--base-color-neutral-0),
    var(--base-color-neutral-13)
  );
  --fgColor-onInverse: var(--base-color-neutral-0);

  --fgColor-accent: light-dark(var(--base-color-blue-5), #4493f8);
  --fgColor-brand: var(--brand-color);
  --fgColor-attention: light-dark
    (var(--base-color-yellow-5), var(--base-color-yellow-3));
  --fgColor-danger: light-dark(#d1242f, var(--base-color-red-4));
  --fgColor-closed: var(--fgColor-danger);
  --fgColor-done: light-dark(
    var(--base-color-purple-5),
    var(--base-color-purple-4)
  );
  --fgColor-upsell: var(--fgColor-done);
  --fgColor-success: light-dark(
    var(--base-color-green-5),
    var(--base-color-green-3)
  );
  --fgColor-open: var(--fgColor-success);
  --fgColor-severe: light-dark(
    var(--base-color-orange-5),
    var(--base-color-orange-4)
  );
}
