.container {
  // Container
  --_min-margin-inline: var(--size-4);
  --_max-width: 102.4rem; // 1024px
  --_max-width-narrow: 64rem; // 640px
  --_max-width-wide: 160rem; // 1600px

  --_padding: calc(var(--_min-margin-inline) * 2);

  margin-inline: auto;
  width: min(100% - var(--_padding), var(--_max-width));
}

.container[data-type='narrow'] {
  --_max-width: var(--_max-width-narrow);
}

.container[data-type='wide'] {
  --_max-width: var(--_max-width-wide);
}

.container[data-type='full-bleed'] {
  --_padding: 0;
  --_max-width: 100%;
}
