@use '../abstracts' as *;

// Creates color and background utility classes from colors map in abstracts/_colors.scss
@each $color, $shade-map in $active-theme {
  @each $shade, $value in $shade-map {
    .clr-#{$color}-#{$shade} {
      color: var(--#{$color}-#{$shade});
    }
    .bg-#{$color}-#{$shade} {
      background-color: var(--#{$color}-#{$shade});
    }
  }
}
