@use '../abstracts' as *;

// Creates font sizes utility classes
@each $screen-size, $size-map in $font-sizes {
  @each $size-name, $size-value in $size-map {
    @if $screen-size == big {
      .fs-#{$size-name} {
        font-size: var(--fs-#{$size-name});
      }
    }
  }
}

// Creates line heights utility classes
@each $lh-size, $lh-value in $line-heights {
  .lh-#{$lh-size} {
    line-height: $lh-value;
  }
}

// Assigning font families
.ff-accent {
  font-family: var(--ff-accent);
}

.ff-base {
  font-family: var(--ff-base);
}

// Font-weights
.fw-thin {
  font-weight: var(--fw-thin);
}

.fw-extra-light {
  font-weight: var(--fw-extra-light);
}

.fw-light {
  font-weight: var(--fw-light);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-extra-bold {
  font-weight: var(--fw-extra-bold);
}

.fw-black {
  font-weight: var(--fw-black);
}

// Centering the text
.text-center {
  text-align: center;
}

// All caps
.uppercase {
  text-transform: uppercase;
}

// Headings and subheadings classes
.heading-1 {
  @include heading(var(--heading-1-font-size), var(--heading-1-color));
}

.heading-2 {
  @include heading(var(--heading-2-font-size), var(--heading-2-color));
}

.heading-3 {
  @include heading(var(--heading-3-font-size), var(--heading-3-color));
}

.subheading {
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  font-size: var(--subheading-font-size);
  line-height: var(--subheading-line-height);
  color: var(--subheading-color-default);
}
