---
export interface Props {
  type?: string;
  href: string;
  btnType?: boolean;
}

const { type, href, btnType = false} = Astro.props as Props;
---

<!-- For <button> tag -->
{btnType && <button data-type={type} class="btn">
  <slot />
</button>}

<!-- For <a> tag -->
{!btnType && <a data-type={type} class="btn" href={href} >
  <slot />
</a>}

<!-- * Style * -->
<style lang='scss'>
@use '../sass/abstracts' as *;
  
.btn {
  &,
  &:link,
  &:visited {
    display: inline-flex;
    justify-content: center;
    padding: $button-padding;

    border: $button-border;
    border-radius: $button-border-radius;
    outline-color: $button-outline;

    font-family: $button-font-family;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    line-height: 1;
    text-transform: $button-text-transform;
    text-decoration: none;
    transition: 0.3s ease;
    cursor: pointer;
  }

  &[data-type='accent'] {
    background-color: $button-accent-background;
    color: $button-accent-color;

    &:is(:hover, :focus) {
      background: $button-accent-background-hover;
      color: $button-accent-color-hover;
    }
  }

  &[data-type='primary'] {
    background-color: $button-primary-background;
    color: $button-primary-color;

    &:is(:hover, :focus) {
      background: $button-primary-background-hover;
      color: $button-primary-color-hover;
    }
  }
}
</style>