---
import Button from './Button.astro'; 
---

<div class="grid-auto-fit">
  <Button>
    Default
  </Button>

  <Button
    kind="input"
    btnType="button"
    value='<input>'
    >
  </Button>

  <Button type="icon">
    <svg viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
      <path d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
    </svg>
    Icon
  </Button>

  <Button
    btnType="submit">
    Submit
  </Button>

  <Button btnType="button">
    Type Button
  </Button>

  <Button btnType="reset">
    Reset
  </Button>

  <Button disabled>
    Disabled
  </Button>

  <Button
  btnType='file'
  kind='input'>
  </Button>
</div>

<style lang="scss">
  @use '../sass/layout/_grid-auto-fit.scss' as *;

  .grid-auto-fit {
    --grid-gap: 2rem;
  }
</style>