---

---

<button aria-haspopup='true' aria-expanded='false' aria-controls='menu1'
  >Options
</button>
<ul id='menu1' role='menu' aria-hidden='true'>
  <li role='menuitem'>Option 1</li>
  <li role='menuitem'>Option 2</li>
</ul>
