---
// component imports
import FeatureCard from '@components/cards/FeatureCard.astro';

// data imports
import featuresData from '@data/featuresData.json';
---

<section class='features'>
  <div class='content-grid'>
    {
      featuresData.map((feature) => (
        <FeatureCard>
          <h3>{feature.title}</h3>
          <p>{feature.body}</p>
        </FeatureCard>
      ))
    }
  </div>
</section>
