---
// components
import FeatureCard from '@components/ui/cards/FeatureCard.astro';

// data
import { features } from '@data/featuresData';
---

<section class='even-columns'>
  {features.map((feature) => <FeatureCard {...feature} />)}
</section>
