---
// component imports
import Logo from './Logo.astro';
import Link from '../components/Link.astro';

// data imports
import footerData from '../data/footerData';
---

<footer class='site-footer'>
  <div class='content-grid'>
    <div class='site-footer__inner'>
      <Logo type='footer' />
      <ul class='site-footer__list'>
        {
          footerData.map((item) => (
            <li>
              <Link type='link' title={item.name} href={item.path} />
            </li>
          ))
        }
      </ul>
    </div>
    <div>
      <small style='color: var(--neutral-5);'>
        Copyright &copy; <span id='copyright'></span> | All rights reserved.
      </small>
    </div>
  </div>
</footer>

<script>
  import '../js/footer.js';
</script>
