---
// component imports
import Logo from '@components/Logo.astro';
import Link from '@components/links/Link.astro';

// data imports
import footerData from '@data/footerData.json';
---

<footer class='site-footer'>
  <div class='content-grid'>
    <div class='site-footer__inner'>
      <Logo type='footer' />
      <ul class='site-footer__list'>
        {
          footerData.map((item) => (
            <li>
              <Link text={item.name} href={item.path} />
            </li>
          ))
        }
      </ul>
    </div>
    <div>
      <small style='color: var(--gray-5);'>
        Copyright &copy; <span id='copyright'></span> | All rights reserved.
      </small>
    </div>
  </div>
</footer>

<script>
  import '@scripts/footer.js';
</script>
