---
// styles
import '../styles/components/header.css';

// components
import Nav from '@components/Nav.astro';
import Logo from '@components/Logo.astro';
---

<header class='site-header'>
  <div class='content-grid'>
    <div class='site-header__inner'>
      <Logo type='header' />
      <Nav />
    </div>
  </div>
</header>
