---
import Button from './Button.astro';

import mainImage from '../images/group-on-computer.webp';
---

<section class='hero | section'>
  <div class='container'>
    <div class='even-columns'>
      <div class='flow'>
        <h1>Welcome to <span>brandboosters</span></h1>
        <p>
          Dedicated to boosting your brand’s visibility and success that uses
          the latest strategies & techniques to help you reach your target
          audience and achieve your goals.
        </p>
        <div class='flex-group'>
          <Button dataType = 'accent', href = '#'>
            Join now
          </Button>
          <Button dataType = 'outline' href='#'>
            Learn more
          </Button>
        </div>
      </div>
      <div>
        <img src={mainImage.src} alt="Group of young people looking at laptop"/>
      </div>
    </div>
  </div>
</section>

<!-- Style / Using SCSS -->
<style lang='scss'>
</style>
