---
// library imports
import { Image } from 'astro:assets';

// component imports
import Link from './Link.astro';

// assets imports
import mainImage from '../assets/group-on-computer.webp';
---

<section class='hero | section'>
  <div class='content-grid'>
    <div class='even-columns' style='--grid-gap: 3.6rem'>
      <div class='flow'>
        <h1>Welcome to <span>brandboosters</span></h1>
        <p>
          Dedicated to boosting your brand’s visibility and success that uses
          the latest strategies & techniques to help you reach your target
          audience and achieve your goals.
        </p>
        <div class='flex-group'>
          <Link style='accent' href='#' title='Join now' />
          <Link style='outline' href='#' title='Learn more' />
        </div>
      </div>
      <div>
        <Image
          src={mainImage}
          alt='Group of young people looking at laptop'
          format='avif'
        />
      </div>
    </div>
  </div>
</section>
