---
import { Image } from 'astro:assets';

import logo from '../images/logo.svg';

export interface Props  {
  type?: string;
}

const { type } = Astro.props as Props;
---

<a class="logo" data-type={type} href="/">
  <Image src={logo} alt="Logo of the company"/>
</a>

<style lang="scss">
  .logo {
  --_logo-size-header: var(--size-16);
  --_logo-color-header: hsl(var(--accent-500));
  --_logo-size-footer: var(--size-15);
  --_logo-color-footer: hsl(var(--neutral-000));

  &[data-type="header"] {
    max-width: var(--_logo-size-header);
    fill: var(--_logo-color-header);
  }

  &[data-type="footer"] {
    max-width: var(--_logo-size-footer);
    fill: var(--_logo-color-footer);
  }
}
</style>

