---
// library imports
import { Icon } from 'astro-icon/components';

interface Props {
  type?: 'header' | 'footer';
  alt?: string;
}

const { type, alt = 'Logo of the company' } = Astro.props;
---

<a href='/'>
  <Icon name='logo' class='logo' data-type={type} title={alt} />
</a>
