---
import { Icon } from 'astro-icon';

interface Props {
  type?: string;
}

const { type } = Astro.props;
---

<a href='/'>
  <Icon name='logo' class='logo' data-type={type} alt='Logo of the company' />
</a>
