---
// libraries
import { Icon } from 'astro-icon/components';

// styles
import '../styles/components/logo.css';

interface Props {
  type?: 'header' | 'footer';
  size?: number;
  alt?: string;
}

const { type, size, alt = 'Logo of the company' } = Astro.props;
---

<a class='logo' href='/' data-astro-reload>
  <Icon name='logo' size={size}  data-type={type} title={alt} />
</a>
