---
// component imports
import Link from './Link.astro';

interface Props {
  dialogType: string,
  heading?: string;
  text?: string; 
}

const { 
  dialogType = 'megaDialog',
  heading = 'Dialog heading',
  text = 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde facere possimus sapiente. Fugiat nam facere perspiciatis distinctio iste aliquam impedit!',
  } = Astro.props;
---

<dialog id={dialogType} data-type={dialogType}>
  <form method="dialog">
    <!-- Condition for header -->
    {dialogType === 'megaDialog' ? 
    <header>
      <h3>{heading}</h3>
      <Link 
        type="button"
        style="btn-icon"
        title="Close dialog"
        onClick="this.closest('dialog').close('close')" 
      >
        <title>Close dialog icon</title>
        <svg
          role='img'
          style ='--stroke-color: var(--text-1)'
        >
        <use id='nav-close' href='#icon-close'></use>
        </svg>

      </Link>
    </header>
    // If megaDialog then header, otherwise empty element
    :<></>
    }    
    <article>
      <section class="labelled-input">
        <label for="userimage">Upload an image</label>
        <input id="userimage" name="userimage" type="file">
      </section>
      <small><b>*</b> Maximum upload 1mb</small>
    </article>
    <footer>
      <menu>
        <Link
          type='input'
          input='reset'
          value="Clear"/>
      </menu>
      <menu>
        <Link
          type = 'input'
          input='button'
          value='Cancel'
          onClick="this.closest('dialog').close('cancel')"
          autofocus 
        />
        <Link
          type='input'
          style='accent'
          input='submit'
          value='Confirm'
          classes='.btn'
        />
      </menu>
    </footer>
  </form>
</dialog>

<Link
  type='button'
  style='accent'
  title='Open Dialog'
  onClick={`${dialogType}.showModal()`}
/>