---
// libraries
import { Icon } from 'astro-icon/components';

// styles
import '../styles/components/modal.css'

// components
import Button from '@components/ui/links/Button.astro';
import Input from '@components/ui/links/Input.astro';

// props
interface Props {
  dialogType: string,
  heading?: string;
  text?: string; 
}

const { 
  dialogType = 'megaDialog',
  heading = 'Dialog heading',
  text = 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde facere possimus sapiente. Fugiat nam facere perspiciatis distinctio iste aliquam impedit!',
  } = Astro.props;
---

<dialog id={dialogType} data-type={dialogType} aria-modal='true'>
  <form method="dialog">
    <!-- Condition for header -->
    {dialogType === 'megaDialog' ? 
    <header>
      <h3>{heading}</h3>
      <Button 
        dataType="btn-icon"
        text="Close dialog"
        onClick="this.closest('dialog').close('close')" 
      >
        <title>Close dialog icon</title>
        <Icon name='close' size={44} />
      </Button>
    </header>
    // If megaDialog then header, otherwise empty element
    :<></>
    }    
    <article>
      <section class="labelled-input">
        <label for="userimage">Upload an image</label>
        <input id="userimage" name="userimage" type="file">
      </section>
      <small><b>*</b> Maximum upload 1mb</small>
    </article>
    <footer>
      <menu>
        <Input
          type='reset'
          value="Clear"/>
      </menu>
      <menu>
        <Input
          type='button'
          value='Cancel'
          onClick="this.closest('dialog').close('cancel')"
          autofocus 
        />
        <Input
          type='submit'
          dataType='accent'
          value='Confirm'
        />
      </menu>
    </footer>
  </form>
</dialog>

<Button
  dataType='accent'
  text='Open Dialog'
  onClick={`${dialogType}.showModal()`}
/>

<style>
  [data-icon='close'] {
    --stroke-width: 1px;
    --stroke-color: var(--text-1);
  }
</style>