---
// component imports
import Link from '@components/links/Link.astro';

// data imports
import navData from '@data/navData.json';
---

<nav class='site-nav' aria-label='primary navigation'>
  <ul class='site-nav__list' data-visible='false' role='list'>
    {
      navData.map((item) => (
        <li>
          <Link text={item.name} href={item.path} data-navlink />
        </li>
      ))
    }
  </ul>
</nav>

<Link
  type='button'
  style='btn-icon'
  classes='mobile-nav-toggle'
  aria-controls='navigation'
  aria-expanded='false'
>
  <svg
    role='img'
    class='mobile-nav-toggle__icon'
    style='--stroke-color: var(--text-1)'
  >
    <use id='nav-icon' href='#icon-menu'></use>
  </svg>
  <span class='sr-only'>Menu</span>
</Link>

<script>
  import '@scripts/nav.js';
</script>
