---
// styles
import '../styles/components/tabs.css';

// data
import { tabs } from '@data/tabsData';
---

<div class='tabs'>
  <ul class='tabs__header'>
    {tabs.map((item) => <li> {item.heading} </li>)}
  </ul>
  <ul class='tabs__content'>
    {tabs.map((item) => <li class='tab'>{item.content}</li>)}
  </ul>
</div>

<script>
  import '@scripts/tabs';
</script>
