---
const { themes = ['system', 'light', 'dark'] } = Astro.props;
---

<fieldset
class="theme-switcher | flex-group | mx-auto | margin-block-start-10 | clr-accent-100"
>
<legend class="theme-switcher__legend">Theme:</legend>

<div class="theme-switcher__options | flex-group">

{themes.map((theme) => 
  <div class="theme-switcher__option-group">
    <input
      id={theme}
      class="theme-switcher__input"
      name="theme"
      type="radio"
      checked
    />
    <label for={theme} class="theme-switcher__label | clr-accent-100">{theme}</label>
  </div>
)}
</div>
</fieldset>

<!-- * Style * -->
<style lang='scss'>
  @use '../sass/abstracts' as *;
</style>

<!-- * Script * -->
<script define:vars={{ themes }}>

const body = document.body;

const themeSwitcher = document.querySelector('.theme-switcher');

// Clicking on the theme switcher
themeSwitcher.addEventListener('click', function (e) {
  if (e.target.tagName != 'INPUT') {
    return;
  }

  const themeToSet = e.target.id;
  setTheme(themeToSet);
});

function setTheme(themeToSet) {
  // Checks if theme exist
  if (!themes.includes(themeToSet)) return;

  window.localStorage.setItem("theme", themeToSet);

  themes.forEach((theme) => {
    if (theme !== themeToSet && body.hasAttribute(theme))
      body.removeAttribute(theme);
  });

  if (!body.hasAttribute(themeToSet)) {
    body.setAttribute('data-theme', themeToSet);
  }
}

(function loadTheme() {
  const theme = window.localStorage.getItem('theme');
  setTheme(theme);
  document.getElementById(theme).checked = true;
})();
</script>