@use '../abstracts' as *;

.contact-form {
  .form-group {
    display: grid;
  }
}

label {
  font-family: $form-label-font-family;
  font-size: $form-label-font-size;
  font-weight: $form-label-font-weight;
  color: $form-label-color;
}

input:not(.btn) {
  padding: $form-input-padding;
  border: $form-input-border-default;
  border-radius: $form-input-border-radius;
  background-color: $form-input-background-color;
  font-size: $form-input-font-size;
  font-weight: $form-input-font-weight;
  color: $form-input-color;

  &:active,
  &:focus {
    outline: none;
    border: $form-input-border-focus;
  }
}

::placeholder {
  font-family: $form-placeholder-font-family;
  font-size: $form-placeholder-font-size;
  font-weight: $form-placeholder-font-weight;
  color: $form-placeholder-color;
}
