@use '../abstracts' as *;

.nav {
  --flex-column-gap: #{$nav-gap};
  list-style: none;

  a {
    @include heading($nav-font-size, $nav-color);
    text-decoration: $nav-link-text-decoration;

    &:is(:hover, :focus) {
      color: $nav-color-hover;
    }
  }
}
