---
// styles import
// import '../styles/main.scss';
import '@styles/main.css';

// component imports
import BaseHead from './BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<BaseHead {...Astro.props} />
<html lang='en'>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<script>
  import '@scripts/main.js';
</script>
