html {
  color-scheme: light dark;

  /* 10px/16px = 62.5% -> 1rem = 10px */
  font-size: 62.5%;

  overscroll-behavior: none;
  scroll-padding: 16rem;

  block-size: 100%;
  scrollbar-color: var(--scrollthumb-color) transparent;
  caret-color: var(--link, var(--fgColor-link));
}

:is(:focus-visible) {
  outline-offset: 2px;
  outline: 2px solid var(--link-hover, var(--borderColor-emphasis));
}

body {
  background-color: var(--surface-1, var(--bgColor-default));
  font-family: var(--ff-base), sans-serif;
  font-size: var(--fs-xs);
  font-weight: var(--fw-regular);
  color: var(--text-1, var(--fgColor-default));
}

a[href]:not(.btn) {
  color: var((--link), var(--fgColor-link));

  &:is(:hover, :focus) {
    color: var(--link, var(--fgColor-link));
  }
}

::selection {
  background-color: var(--accent, var(--bgColor-brand-emphasis));
  color: var(--gray-1, var(--fgColor-onEmphasis));
}

/* --- Disabling animations by user preference --- */
@media (--motionNotOK) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}

/* --- Styles for Lenis smooth scroll animation --- */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
