/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /*  Allow transitions and animations using keyword values */
  interpolate-size: allow-keywords;

  /* Prevent font size inflation */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  scrollbar-gutter: stable;

  @media (--motionOK) {
    scroll-behavior: smooth;
  }
}

/* Set core body defaults */
body {
  min-block-size: 100svh;
  line-height: 1.5;
  margin: 0;

  display: grid;
  grid-template-rows: auto 1fr auto;

  /* Set container type */
  > :is(header, footer),
  main,
  section,
  article {
    container-type: inline-size;
  }
}

:not(dialog) {
  margin: 0;
}

:not(fieldset, progress, meter) {
  border-width: 0;
  border-style: solid;
  background-origin: border-box;
  background-repeat: no-repeat;
}

/* More secure way to keep semantic of lists elements */
:is(ul, ol)[class] {
  list-style: '';
  margin: 0;
  padding: 0;
}

/* Experimental */
:first-child {
  margin-block-start: 0;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

/* Experimental */
img,
svg,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
}

/* With that, their width and height will be exactly 100% of their parent’s font-size. */
/* We can configure than SVG with font-size only. Andy Bell's approach */
/*svg {*/
/*  width: 1em;*/
/*  height: 1em;*/
/*}*/

/* Elements that don't have a class get default styles */
/* a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
  text-decoration-thickness: 0.625em;
  text-underline-offset: 0.25em;
} */

a,
u,
ins,
abbr {
  text-underline-offset: 1px;

  @supports (-moz-appearance: none) {
    text-underline-offset: 2px;
  }
}

a[href],
area,
button,
input,
label[for],
select,
summary,
textarea,
[tabindex]:not([tabindex*='-']) {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

a {
  & [href] {
    text-decoration-color: var(--link);

    &:where(:visited) {
      color: var(--link-visited);
      text-decoration-color: var(--link-visited);
    }
  }

  &:not(:hover) {
    text-decoration: inherit;
  }
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

::placeholder {
  color: var(--gray-7, var(--fgColor-neutral));
  opacity: 0.75;
}

select {
  padding-inline: var(--size-relative-4) 0;
  padding-block: 0.75ch;
  field-sizing: content;
}

summary {
  margin: calc(var(--size-2) * -1) calc(var(--size-3) * -1);
  padding: var(--size-2) var(--size-3);
  border-radius: var(--radius-2);
  background: var(--surface-3, var(--bgColor-neutral-muted));
}

details {
  padding-inline: var(--size-3);
  padding-block: var(--size-2);
  border-radius: var(--radius-2);
  background: var(--surface-2, var(--bgColor-neutral-emphasis));

  &[open] > summary {
    margin-bottom: var(--size-2);
    border-end-start-radius: 0;
    border-end-end-radius: 0;
  }
}

sup {
  font-size: 0.5em;
}

@media (--motionOK) {
  focus-visible {
    transition: outline-offset 145ms var(--ease-2);
  }
  :not(:active):focus-visible {
    transition-duration: 0.25s;
  }
}
