:where(html) {
  :is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--_heading-font-family), sans-serif;
    font-weight: var(--_heading-font-weight);
    line-height: var(--_heading-line-height);
    color: var(--text-1);
    letter-spacing: var(--_heading-letter-spacing);
    text-transform: var(--_heading-text-transform);
    text-wrap: balance;
  }

  :is(h1) {
    font-size: var(--h1-font-size);
    max-inline-size: var(--size-header-1);
  }

  :is(h2) {
    font-size: var(--h2-font-size);
    max-inline-size: var(--size-header-2);
  }

  :is(h3) {
    font-size: var(--h3-font-size);
  }

  :is(h4) {
    font-size: var(--h4-font-size);
  }

  :is(h5) {
    font-size: var(--h5-font-size);
  }

  :is(h3, h4, h5, h6, dt) {
    max-inline-size: var(--size-header-3);
  }

  :is(p, ul, ol, dl, h6) {
    font-size: var(--fs-xs);
  }

  :is(a, u, ins, abbr) {
    text-underline-offset: 1px;
  }

  @supports (-moz-appearance: none) {
    :is(a, u, ins, abbr) {
      text-underline-offset: 2px;
    }
  }

  :is(small) {
    font-size: max(0.5em, var(--fs-2xs));
    max-inline-size: var(--size-content-1);
  }
}
